<img src="images/dask_horizontal.svg" align="right" width="30%">

# Bag: Parallel Lists for semi-structured data

Dask-bag excels in processing data that can be represented as a sequence of arbitrary inputs. We'll refer to this as "messy" data, because it can contain complex nested structures, missing fields, mixtures of data types, etc. The *functional* programming style fits very nicely with standard Python iteration, such as can be found in the `itertools` module.

Messy data is often encountered at the beginning of data processing pipelines when large volumes of raw data are first consumed. The initial set of data might be JSON, CSV, XML, or any other format that does not enforce strict structure and datatypes.
For this reason, the initial data massaging and processing is often done with Python `list`s, `dict`s, and `set`s.

These core data structures are optimized for general-purpose storage and processing.  Adding streaming computation with iterators/generator expressions or libraries like `itertools` or [`toolz`](https://toolz.readthedocs.io/en/latest/) let us process large volumes in a small space.  If we combine this with parallel processing then we can churn through a fair amount of data.

Dask.bag is a high level Dask collection to automate common workloads of this form.  In a nutshell

    dask.bag = map, filter, toolz + parallel execution
    
**Related Documentation**

* [Bag documentation](https://docs.dask.org/en/latest/bag.html)
* [Bag screencast](https://youtu.be/-qIiJ1XtSv0)
* [Bag API](https://docs.dask.org/en/latest/bag-api.html)
* [Bag examples](https://examples.dask.org/bag.html)

## Create data

In [1]:
%run prep.py -d accounts

## Setup

Again, we'll use the distributed scheduler. Schedulers will be explained in depth [later](05_distributed.ipynb).

In [2]:
from dask.distributed import Client

client = Client(n_workers=16)
client

## Creation

You can create a `Bag` from a Python sequence, from files, from data on S3, etc.
We demonstrate using `.take()` to show elements of the data. (Doing `.take(1)` results in a tuple with one element)

Note that the data are partitioned into blocks, and there are many items per block. In the first example, the two partitions contain five elements each, and in the following two, each file is partitioned into one or more bytes blocks.

In [3]:
# each element is an integer
import dask.bag as db
b = db.from_sequence([1, 2, 3, 4, 5, 6, 7, 8, 9, 10], npartitions=2)
b.take(3)

(1, 2, 3)

In [4]:
# each element is a text file, where each line is a JSON object
# note that the compression is handled automatically
import os
b = db.read_text(os.path.join('data', 'accounts.*.json.gz'))
b.take(1)

('{"id": 0, "name": "Ursula", "transactions": [{"transaction-id": 24228, "amount": 3706}, {"transaction-id": 54092, "amount": 3570}, {"transaction-id": 89854, "amount": 3215}, {"transaction-id": 90233, "amount": 3110}]}\n',)

In [5]:
# Requires `s3fs` library
# each partition is a remote CSV text file
import s3fs
b = db.read_text('s3://dask-data/nyc-taxi/2015/yellow_tripdata_2015-01.csv',
                 storage_options={'anon': True})
b.take(1)

('VendorID,tpep_pickup_datetime,tpep_dropoff_datetime,passenger_count,trip_distance,pickup_longitude,pickup_latitude,RateCodeID,store_and_fwd_flag,dropoff_longitude,dropoff_latitude,payment_type,fare_amount,extra,mta_tax,tip_amount,tolls_amount,improvement_surcharge,total_amount\n',)

## Manipulation

`Bag` objects hold the standard functional API found in projects like the Python standard library, `toolz`, or `pyspark`, including `map`, `filter`, `groupby`, etc..

Operations on `Bag` objects create new bags.  Call the `.compute()` method to trigger execution, as we saw for `Delayed` objects.

In [6]:
def is_even(n):
    return n % 2 == 0

b = db.from_sequence([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
c = b.filter(is_even).map(lambda x: x ** 2)
c

dask.bag<lambda, npartitions=10>

In [7]:
# blocking form: wait for completion (which is very fast in this case)
c.compute()

[4, 16, 36, 64, 100]

### Example: Accounts JSON data

We've created a fake dataset of gzipped JSON data in your data directory.  This is like the example used in the `DataFrame` example we will see later, except that it has bundled up all of the entires for each individual `id` into a single record.  This is similar to data that you might collect off of a document store database or a web API.

Each line is a JSON encoded dictionary with the following keys

*  id: Unique identifier of the customer
*  name: Name of the customer
*  transactions: List of `transaction-id`, `amount` pairs, one for each transaction for the customer in that file

In [8]:
filename = os.path.join('data', 'accounts.*.json.gz')
lines = db.read_text(filename)
lines.take(3)

('{"id": 0, "name": "Ursula", "transactions": [{"transaction-id": 24228, "amount": 3706}, {"transaction-id": 54092, "amount": 3570}, {"transaction-id": 89854, "amount": 3215}, {"transaction-id": 90233, "amount": 3110}]}\n',
 '{"id": 1, "name": "George", "transactions": [{"transaction-id": 833, "amount": 13}, {"transaction-id": 1598, "amount": 13}, {"transaction-id": 1988, "amount": 13}, {"transaction-id": 2235, "amount": 13}, {"transaction-id": 2267, "amount": 14}, {"transaction-id": 2613, "amount": 13}, {"transaction-id": 2685, "amount": 14}, {"transaction-id": 3638, "amount": 14}, {"transaction-id": 3768, "amount": 13}, {"transaction-id": 4077, "amount": 13}, {"transaction-id": 4776, "amount": 13}, {"transaction-id": 5120, "amount": 15}, {"transaction-id": 5134, "amount": 13}, {"transaction-id": 5277, "amount": 14}, {"transaction-id": 6072, "amount": 12}, {"transaction-id": 7034, "amount": 14}, {"transaction-id": 7531, "amount": 13}, {"transaction-id": 8467, "amount": 14}, {"transaction-id": 8491, "amount": 13}, {"transaction-id": 8529, "amount": 14}, {"transaction-id": 8664, "amount": 14}, {"transaction-id": 9023, "amount": 13}, {"transaction-id": 9505, "amount": 13}, {"transaction-id": 12742, "amount": 14}, {"transaction-id": 14081, "amount": 13}, {"transaction-id": 14279, "amount": 15}, {"transaction-id": 14714, "amount": 13}, {"transaction-id": 14741, "amount": 13}, {"transaction-id": 15075, "amount": 14}, {"transaction-id": 15097, "amount": 13}, {"transaction-id": 15153, "amount": 13}, {"transaction-id": 16173, "amount": 13}, {"transaction-id": 16197, "amount": 13}, {"transaction-id": 16510, "amount": 13}, {"transaction-id": 16568, "amount": 13}, {"transaction-id": 16766, "amount": 13}, {"transaction-id": 16803, "amount": 14}, {"transaction-id": 16892, "amount": 13}, {"transaction-id": 17426, "amount": 13}, {"transaction-id": 17748, "amount": 14}, {"transaction-id": 17950, "amount": 14}, {"transaction-id": 18005, "amount": 13}, {"transaction-id": 18286, "amount": 14}, {"transaction-id": 18367, "amount": 12}, {"transaction-id": 20451, "amount": 14}, {"transaction-id": 21869, "amount": 14}, {"transaction-id": 22387, "amount": 15}, {"transaction-id": 23229, "amount": 14}, {"transaction-id": 23985, "amount": 14}, {"transaction-id": 24176, "amount": 15}, {"transaction-id": 25001, "amount": 15}, {"transaction-id": 25324, "amount": 14}, {"transaction-id": 26162, "amount": 13}, {"transaction-id": 26175, "amount": 15}, {"transaction-id": 26361, "amount": 14}, {"transaction-id": 27754, "amount": 14}, {"transaction-id": 28176, "amount": 14}, {"transaction-id": 28280, "amount": 14}, {"transaction-id": 28300, "amount": 13}, {"transaction-id": 28328, "amount": 15}, {"transaction-id": 28705, "amount": 12}, {"transaction-id": 29326, "amount": 14}, {"transaction-id": 29753, "amount": 13}, {"transaction-id": 31000, "amount": 12}, {"transaction-id": 31039, "amount": 14}, {"transaction-id": 31749, "amount": 14}, {"transaction-id": 32109, "amount": 13}, {"transaction-id": 32255, "amount": 14}, {"transaction-id": 32317, "amount": 13}, {"transaction-id": 32765, "amount": 15}, {"transaction-id": 33372, "amount": 14}, {"transaction-id": 33944, "amount": 13}, {"transaction-id": 34247, "amount": 14}, {"transaction-id": 34592, "amount": 14}, {"transaction-id": 35190, "amount": 14}, {"transaction-id": 35480, "amount": 13}, {"transaction-id": 35538, "amount": 13}, {"transaction-id": 36424, "amount": 13}, {"transaction-id": 36500, "amount": 13}, {"transaction-id": 37096, "amount": 14}, {"transaction-id": 37107, "amount": 14}, {"transaction-id": 37977, "amount": 13}, {"transaction-id": 38063, "amount": 14}, {"transaction-id": 38376, "amount": 13}, {"transaction-id": 38441, "amount": 13}, {"transaction-id": 38616, "amount": 14}, {"transaction-id": 38621, "amount": 14}, {"transaction-id": 38663, "amount": 13}, {"transaction-id": 38745, "amount": 14}, {"transaction-id": 38781, "amount": 14}, {"transaction-id": 38892, "amount": 14}, {"transaction-id": 38908, "amount": 13}, {"transaction-id": 39209, "amount": 13}, {"transaction-id": 39212, "amount": 13}, {"transaction-id": 39308, "amount": 14}, {"transaction-id": 39969, "amount": 13}, {"transaction-id": 40135, "amount": 15}, {"transaction-id": 40275, "amount": 13}, {"transaction-id": 40694, "amount": 14}, {"transaction-id": 40806, "amount": 14}, {"transaction-id": 41316, "amount": 14}, {"transaction-id": 41496, "amount": 15}, {"transaction-id": 41970, "amount": 15}, {"transaction-id": 42085, "amount": 15}, {"transaction-id": 42179, "amount": 14}, {"transaction-id": 42295, "amount": 14}, {"transaction-id": 42358, "amount": 15}, {"transaction-id": 42447, "amount": 14}, {"transaction-id": 42549, "amount": 13}, {"transaction-id": 43943, "amount": 13}, {"transaction-id": 43961, "amount": 13}, {"transaction-id": 43983, "amount": 14}, {"transaction-id": 44311, "amount": 14}, {"transaction-id": 44469, "amount": 14}, {"transaction-id": 44964, "amount": 14}, {"transaction-id": 45203, "amount": 13}, {"transaction-id": 45338, "amount": 14}, {"transaction-id": 45433, "amount": 14}, {"transaction-id": 45640, "amount": 14}, {"transaction-id": 45766, "amount": 13}, {"transaction-id": 45924, "amount": 13}, {"transaction-id": 46276, "amount": 15}, {"transaction-id": 46420, "amount": 14}, {"transaction-id": 46678, "amount": 14}, {"transaction-id": 47299, "amount": 14}, {"transaction-id": 47878, "amount": 13}, {"transaction-id": 48243, "amount": 13}, {"transaction-id": 48709, "amount": 14}, {"transaction-id": 49120, "amount": 13}, {"transaction-id": 49259, "amount": 13}, {"transaction-id": 49419, "amount": 14}, {"transaction-id": 49920, "amount": 14}, {"transaction-id": 50538, "amount": 15}, {"transaction-id": 50623, "amount": 14}, {"transaction-id": 50862, "amount": 13}, {"transaction-id": 50883, "amount": 13}, {"transaction-id": 51985, "amount": 14}, {"transaction-id": 52586, "amount": 14}, {"transaction-id": 52692, "amount": 14}, {"transaction-id": 54105, "amount": 15}, {"transaction-id": 54463, "amount": 13}, {"transaction-id": 54640, "amount": 14}, {"transaction-id": 54774, "amount": 14}, {"transaction-id": 54980, "amount": 13}, {"transaction-id": 55036, "amount": 14}, {"transaction-id": 55115, "amount": 14}, {"transaction-id": 55193, "amount": 14}, {"transaction-id": 56226, "amount": 15}, {"transaction-id": 56933, "amount": 13}, {"transaction-id": 57248, "amount": 14}, {"transaction-id": 58296, "amount": 13}, {"transaction-id": 58308, "amount": 14}, {"transaction-id": 58605, "amount": 13}, {"transaction-id": 59162, "amount": 14}, {"transaction-id": 60336, "amount": 13}, {"transaction-id": 61764, "amount": 14}, {"transaction-id": 61977, "amount": 13}, {"transaction-id": 62438, "amount": 14}, {"transaction-id": 62990, "amount": 13}, {"transaction-id": 63394, "amount": 15}, {"transaction-id": 63703, "amount": 14}, {"transaction-id": 65088, "amount": 12}, {"transaction-id": 65596, "amount": 13}, {"transaction-id": 66201, "amount": 14}, {"transaction-id": 66954, "amount": 14}, {"transaction-id": 67765, "amount": 14}, {"transaction-id": 67823, "amount": 14}, {"transaction-id": 68180, "amount": 14}, {"transaction-id": 69884, "amount": 14}, {"transaction-id": 70077, "amount": 12}, {"transaction-id": 73104, "amount": 15}, {"transaction-id": 73501, "amount": 14}, {"transaction-id": 73890, "amount": 14}, {"transaction-id": 74214, "amount": 14}, {"transaction-id": 74601, "amount": 13}, {"transaction-id": 74875, "amount": 14}, {"transaction-id": 74919, "amount": 13}, {"transaction-id": 74995, "amount": 13}, {"transaction-id": 75667, "amount": 14}, {"transaction-id": 75814, "amount": 13}, {"transaction-id": 75923, "amount": 14}, {"transaction-id": 75958, "amount": 13}, {"transaction-id": 76435, "amount": 13}, {"transaction-id": 76868, "amount": 13}, {"transaction-id": 77115, "amount": 13}, {"transaction-id": 77311, "amount": 13}, {"transaction-id": 77899, "amount": 14}, {"transaction-id": 78598, "amount": 14}, {"transaction-id": 78780, "amount": 13}, {"transaction-id": 79292, "amount": 14}, {"transaction-id": 80097, "amount": 14}, {"transaction-id": 80782, "amount": 14}, {"transaction-id": 80941, "amount": 13}, {"transaction-id": 81029, "amount": 14}, {"transaction-id": 81160, "amount": 14}, {"transaction-id": 81892, "amount": 14}, {"transaction-id": 81950, "amount": 14}, {"transaction-id": 82918, "amount": 13}, {"transaction-id": 83504, "amount": 12}, {"transaction-id": 85172, "amount": 14}, {"transaction-id": 85269, "amount": 13}, {"transaction-id": 85398, "amount": 13}, {"transaction-id": 86698, "amount": 14}, {"transaction-id": 87215, "amount": 13}, {"transaction-id": 87238, "amount": 13}, {"transaction-id": 88077, "amount": 14}, {"transaction-id": 88168, "amount": 14}, {"transaction-id": 89420, "amount": 13}, {"transaction-id": 89640, "amount": 13}, {"transaction-id": 89906, "amount": 14}, {"transaction-id": 90075, "amount": 15}, {"transaction-id": 90460, "amount": 14}, {"transaction-id": 91379, "amount": 13}, {"transaction-id": 91585, "amount": 14}, {"transaction-id": 91591, "amount": 14}, {"transaction-id": 92166, "amount": 13}, {"transaction-id": 92476, "amount": 13}, {"transaction-id": 92663, "amount": 14}, {"transaction-id": 92894, "amount": 14}, {"transaction-id": 93177, "amount": 13}, {"transaction-id": 93722, "amount": 14}, {"transaction-id": 94111, "amount": 13}, {"transaction-id": 94442, "amount": 14}, {"transaction-id": 94625, "amount": 15}, {"transaction-id": 94765, "amount": 13}, {"transaction-id": 94809, "amount": 15}, {"transaction-id": 95240, "amount": 15}, {"transaction-id": 95271, "amount": 13}, {"transaction-id": 95378, "amount": 13}, {"transaction-id": 95679, "amount": 13}, {"transaction-id": 96731, "amount": 14}, {"transaction-id": 96898, "amount": 14}, {"transaction-id": 96961, "amount": 14}, {"transaction-id": 96989, "amount": 14}, {"transaction-id": 97346, "amount": 13}, {"transaction-id": 97416, "amount": 15}, {"transaction-id": 97480, "amount": 13}, {"transaction-id": 97516, "amount": 13}, {"transaction-id": 97852, "amount": 13}, {"transaction-id": 97994, "amount": 13}, {"transaction-id": 98118, "amount": 13}, {"transaction-id": 98206, "amount": 14}, {"transaction-id": 99000, "amount": 14}, {"transaction-id": 99285, "amount": 13}]}\n',
 '{"id": 2, "name": "Laura", "transactions": [{"transaction-id": 694, "amount": 3980}, {"transaction-id": 2074, "amount": 3723}, {"transaction-id": 3706, "amount": 3913}, {"transaction-id": 3708, "amount": 3904}, {"transaction-id": 3851, "amount": 3686}, {"transaction-id": 4195, "amount": 3954}, {"transaction-id": 5315, "amount": 3774}, {"transaction-id": 5570, "amount": 3678}, {"transaction-id": 6626, "amount": 3755}, {"transaction-id": 6711, "amount": 3620}, {"transaction-id": 6862, "amount": 3876}, {"transaction-id": 6889, "amount": 3861}, {"transaction-id": 7639, "amount": 3676}, {"transaction-id": 8642, "amount": 3808}, {"transaction-id": 8829, "amount": 3638}, {"transaction-id": 8973, "amount": 3595}, {"transaction-id": 9835, "amount": 4001}, {"transaction-id": 11580, "amount": 3739}, {"transaction-id": 13440, "amount": 3874}, {"transaction-id": 14495, "amount": 3622}, {"transaction-id": 15618, "amount": 3862}, {"transaction-id": 16623, "amount": 3835}, {"transaction-id": 17106, "amount": 3724}, {"transaction-id": 17151, "amount": 3664}, {"transaction-id": 17671, "amount": 3778}, {"transaction-id": 18136, "amount": 3784}, {"transaction-id": 19584, "amount": 3755}, {"transaction-id": 21561, "amount": 3619}, {"transaction-id": 22016, "amount": 3580}, {"transaction-id": 22554, "amount": 3947}, {"transaction-id": 23913, "amount": 3902}, {"transaction-id": 25342, "amount": 3826}, {"transaction-id": 25812, "amount": 3747}, {"transaction-id": 26477, "amount": 3657}, {"transaction-id": 29983, "amount": 3857}, {"transaction-id": 30647, "amount": 3788}, {"transaction-id": 31708, "amount": 4123}, {"transaction-id": 32123, "amount": 3968}, {"transaction-id": 33446, "amount": 3949}, {"transaction-id": 34121, "amount": 3627}, {"transaction-id": 34235, "amount": 3860}, {"transaction-id": 35767, "amount": 3643}, {"transaction-id": 36998, "amount": 3506}, {"transaction-id": 37086, "amount": 3843}, {"transaction-id": 37354, "amount": 3825}, {"transaction-id": 38142, "amount": 3666}, {"transaction-id": 38350, "amount": 3922}, {"transaction-id": 38683, "amount": 3694}, {"transaction-id": 38687, "amount": 3871}, {"transaction-id": 39215, "amount": 3748}, {"transaction-id": 39850, "amount": 3575}, {"transaction-id": 40798, "amount": 3991}, {"transaction-id": 42841, "amount": 3760}, {"transaction-id": 42871, "amount": 3793}, {"transaction-id": 43098, "amount": 3853}, {"transaction-id": 44248, "amount": 3776}, {"transaction-id": 45809, "amount": 3656}, {"transaction-id": 46094, "amount": 3486}, {"transaction-id": 46458, "amount": 3891}, {"transaction-id": 46592, "amount": 3899}, {"transaction-id": 49968, "amount": 3596}, {"transaction-id": 50114, "amount": 4018}, {"transaction-id": 50437, "amount": 3881}, {"transaction-id": 50516, "amount": 3548}, {"transaction-id": 50996, "amount": 3907}, {"transaction-id": 51116, "amount": 3665}, {"transaction-id": 51714, "amount": 3869}, {"transaction-id": 51817, "amount": 3725}, {"transaction-id": 52115, "amount": 3973}, {"transaction-id": 52128, "amount": 3802}, {"transaction-id": 53530, "amount": 3824}, {"transaction-id": 53931, "amount": 3671}, {"transaction-id": 54228, "amount": 3820}, {"transaction-id": 54299, "amount": 3708}, {"transaction-id": 55700, "amount": 3885}, {"transaction-id": 56612, "amount": 3729}, {"transaction-id": 57065, "amount": 3841}, {"transaction-id": 57171, "amount": 3737}, {"transaction-id": 57925, "amount": 3713}, {"transaction-id": 58146, "amount": 3808}, {"transaction-id": 58281, "amount": 3664}, {"transaction-id": 59414, "amount": 3769}, {"transaction-id": 60308, "amount": 3854}, {"transaction-id": 61164, "amount": 3983}, {"transaction-id": 62357, "amount": 3797}, {"transaction-id": 62790, "amount": 3611}, {"transaction-id": 65592, "amount": 3622}, {"transaction-id": 67191, "amount": 3837}, {"transaction-id": 67234, "amount": 3720}, {"transaction-id": 69438, "amount": 3805}, {"transaction-id": 72102, "amount": 3753}, {"transaction-id": 72357, "amount": 3964}, {"transaction-id": 72537, "amount": 3815}, {"transaction-id": 73956, "amount": 3614}, {"transaction-id": 74582, "amount": 3834}, {"transaction-id": 74834, "amount": 3942}, {"transaction-id": 75692, "amount": 3608}, {"transaction-id": 75745, "amount": 3738}, {"transaction-id": 77482, "amount": 3863}, {"transaction-id": 78755, "amount": 3641}, {"transaction-id": 78871, "amount": 3750}, {"transaction-id": 80455, "amount": 3746}, {"transaction-id": 83185, "amount": 3667}, {"transaction-id": 83760, "amount": 3671}, {"transaction-id": 84423, "amount": 3873}, {"transaction-id": 84605, "amount": 3858}, {"transaction-id": 85422, "amount": 3645}, {"transaction-id": 87343, "amount": 3658}, {"transaction-id": 87447, "amount": 3554}, {"transaction-id": 88372, "amount": 3748}, {"transaction-id": 88586, "amount": 3928}, {"transaction-id": 89178, "amount": 4149}, {"transaction-id": 89394, "amount": 3705}, {"transaction-id": 91570, "amount": 3754}, {"transaction-id": 91666, "amount": 3814}, {"transaction-id": 93157, "amount": 4075}, {"transaction-id": 96331, "amount": 3984}, {"transaction-id": 97948, "amount": 3702}, {"transaction-id": 98698, "amount": 4013}, {"transaction-id": 99699, "amount": 3703}]}\n')

Our data comes out of the file as lines of text. Notice that file decompression happened automatically. We can make this data look more reasonable by mapping the `json.loads` function onto our bag.

In [9]:
import json
js = lines.map(json.loads)
# take: inspect first few elements
js.take(3)

({'id': 0,
  'name': 'Ursula',
  'transactions': [{'transaction-id': 24228, 'amount': 3706},
   {'transaction-id': 54092, 'amount': 3570},
   {'transaction-id': 89854, 'amount': 3215},
   {'transaction-id': 90233, 'amount': 3110}]},
 {'id': 1,
  'name': 'George',
  'transactions': [{'transaction-id': 833, 'amount': 13},
   {'transaction-id': 1598, 'amount': 13},
   {'transaction-id': 1988, 'amount': 13},
   {'transaction-id': 2235, 'amount': 13},
   {'transaction-id': 2267, 'amount': 14},
   {'transaction-id': 2613, 'amount': 13},
   {'transaction-id': 2685, 'amount': 14},
   {'transaction-id': 3638, 'amount': 14},
   {'transaction-id': 3768, 'amount': 13},
   {'transaction-id': 4077, 'amount': 13},
   {'transaction-id': 4776, 'amount': 13},
   {'transaction-id': 5120, 'amount': 15},
   {'transaction-id': 5134, 'amount': 13},
   {'transaction-id': 5277, 'amount': 14},
   {'transaction-id': 6072, 'amount': 12},
   {'transaction-id': 7034, 'amount': 14},
   {'transaction-id': 7531, 'amount': 13},
   {'transaction-id': 8467, 'amount': 14},
   {'transaction-id': 8491, 'amount': 13},
   {'transaction-id': 8529, 'amount': 14},
   {'transaction-id': 8664, 'amount': 14},
   {'transaction-id': 9023, 'amount': 13},
   {'transaction-id': 9505, 'amount': 13},
   {'transaction-id': 12742, 'amount': 14},
   {'transaction-id': 14081, 'amount': 13},
   {'transaction-id': 14279, 'amount': 15},
   {'transaction-id': 14714, 'amount': 13},
   {'transaction-id': 14741, 'amount': 13},
   {'transaction-id': 15075, 'amount': 14},
   {'transaction-id': 15097, 'amount': 13},
   {'transaction-id': 15153, 'amount': 13},
   {'transaction-id': 16173, 'amount': 13},
   {'transaction-id': 16197, 'amount': 13},
   {'transaction-id': 16510, 'amount': 13},
   {'transaction-id': 16568, 'amount': 13},
   {'transaction-id': 16766, 'amount': 13},
   {'transaction-id': 16803, 'amount': 14},
   {'transaction-id': 16892, 'amount': 13},
   {'transaction-id': 17426, 'amount': 13},
   {'transaction-id': 17748, 'amount': 14},
   {'transaction-id': 17950, 'amount': 14},
   {'transaction-id': 18005, 'amount': 13},
   {'transaction-id': 18286, 'amount': 14},
   {'transaction-id': 18367, 'amount': 12},
   {'transaction-id': 20451, 'amount': 14},
   {'transaction-id': 21869, 'amount': 14},
   {'transaction-id': 22387, 'amount': 15},
   {'transaction-id': 23229, 'amount': 14},
   {'transaction-id': 23985, 'amount': 14},
   {'transaction-id': 24176, 'amount': 15},
   {'transaction-id': 25001, 'amount': 15},
   {'transaction-id': 25324, 'amount': 14},
   {'transaction-id': 26162, 'amount': 13},
   {'transaction-id': 26175, 'amount': 15},
   {'transaction-id': 26361, 'amount': 14},
   {'transaction-id': 27754, 'amount': 14},
   {'transaction-id': 28176, 'amount': 14},
   {'transaction-id': 28280, 'amount': 14},
   {'transaction-id': 28300, 'amount': 13},
   {'transaction-id': 28328, 'amount': 15},
   {'transaction-id': 28705, 'amount': 12},
   {'transaction-id': 29326, 'amount': 14},
   {'transaction-id': 29753, 'amount': 13},
   {'transaction-id': 31000, 'amount': 12},
   {'transaction-id': 31039, 'amount': 14},
   {'transaction-id': 31749, 'amount': 14},
   {'transaction-id': 32109, 'amount': 13},
   {'transaction-id': 32255, 'amount': 14},
   {'transaction-id': 32317, 'amount': 13},
   {'transaction-id': 32765, 'amount': 15},
   {'transaction-id': 33372, 'amount': 14},
   {'transaction-id': 33944, 'amount': 13},
   {'transaction-id': 34247, 'amount': 14},
   {'transaction-id': 34592, 'amount': 14},
   {'transaction-id': 35190, 'amount': 14},
   {'transaction-id': 35480, 'amount': 13},
   {'transaction-id': 35538, 'amount': 13},
   {'transaction-id': 36424, 'amount': 13},
   {'transaction-id': 36500, 'amount': 13},
   {'transaction-id': 37096, 'amount': 14},
   {'transaction-id': 37107, 'amount': 14},
   {'transaction-id': 37977, 'amount': 13},
   {'transaction-id': 38063, 'amount': 14},
   {'transaction-id': 38376, 'amount': 13},
   {'transaction-id': 38441, 'amount': 13},
   {'transaction-id': 38616, 'amount': 14},
   {'transaction-id': 38621, 'amount': 14},
   {'transaction-id': 38663, 'amount': 13},
   {'transaction-id': 38745, 'amount': 14},
   {'transaction-id': 38781, 'amount': 14},
   {'transaction-id': 38892, 'amount': 14},
   {'transaction-id': 38908, 'amount': 13},
   {'transaction-id': 39209, 'amount': 13},
   {'transaction-id': 39212, 'amount': 13},
   {'transaction-id': 39308, 'amount': 14},
   {'transaction-id': 39969, 'amount': 13},
   {'transaction-id': 40135, 'amount': 15},
   {'transaction-id': 40275, 'amount': 13},
   {'transaction-id': 40694, 'amount': 14},
   {'transaction-id': 40806, 'amount': 14},
   {'transaction-id': 41316, 'amount': 14},
   {'transaction-id': 41496, 'amount': 15},
   {'transaction-id': 41970, 'amount': 15},
   {'transaction-id': 42085, 'amount': 15},
   {'transaction-id': 42179, 'amount': 14},
   {'transaction-id': 42295, 'amount': 14},
   {'transaction-id': 42358, 'amount': 15},
   {'transaction-id': 42447, 'amount': 14},
   {'transaction-id': 42549, 'amount': 13},
   {'transaction-id': 43943, 'amount': 13},
   {'transaction-id': 43961, 'amount': 13},
   {'transaction-id': 43983, 'amount': 14},
   {'transaction-id': 44311, 'amount': 14},
   {'transaction-id': 44469, 'amount': 14},
   {'transaction-id': 44964, 'amount': 14},
   {'transaction-id': 45203, 'amount': 13},
   {'transaction-id': 45338, 'amount': 14},
   {'transaction-id': 45433, 'amount': 14},
   {'transaction-id': 45640, 'amount': 14},
   {'transaction-id': 45766, 'amount': 13},
   {'transaction-id': 45924, 'amount': 13},
   {'transaction-id': 46276, 'amount': 15},
   {'transaction-id': 46420, 'amount': 14},
   {'transaction-id': 46678, 'amount': 14},
   {'transaction-id': 47299, 'amount': 14},
   {'transaction-id': 47878, 'amount': 13},
   {'transaction-id': 48243, 'amount': 13},
   {'transaction-id': 48709, 'amount': 14},
   {'transaction-id': 49120, 'amount': 13},
   {'transaction-id': 49259, 'amount': 13},
   {'transaction-id': 49419, 'amount': 14},
   {'transaction-id': 49920, 'amount': 14},
   {'transaction-id': 50538, 'amount': 15},
   {'transaction-id': 50623, 'amount': 14},
   {'transaction-id': 50862, 'amount': 13},
   {'transaction-id': 50883, 'amount': 13},
   {'transaction-id': 51985, 'amount': 14},
   {'transaction-id': 52586, 'amount': 14},
   {'transaction-id': 52692, 'amount': 14},
   {'transaction-id': 54105, 'amount': 15},
   {'transaction-id': 54463, 'amount': 13},
   {'transaction-id': 54640, 'amount': 14},
   {'transaction-id': 54774, 'amount': 14},
   {'transaction-id': 54980, 'amount': 13},
   {'transaction-id': 55036, 'amount': 14},
   {'transaction-id': 55115, 'amount': 14},
   {'transaction-id': 55193, 'amount': 14},
   {'transaction-id': 56226, 'amount': 15},
   {'transaction-id': 56933, 'amount': 13},
   {'transaction-id': 57248, 'amount': 14},
   {'transaction-id': 58296, 'amount': 13},
   {'transaction-id': 58308, 'amount': 14},
   {'transaction-id': 58605, 'amount': 13},
   {'transaction-id': 59162, 'amount': 14},
   {'transaction-id': 60336, 'amount': 13},
   {'transaction-id': 61764, 'amount': 14},
   {'transaction-id': 61977, 'amount': 13},
   {'transaction-id': 62438, 'amount': 14},
   {'transaction-id': 62990, 'amount': 13},
   {'transaction-id': 63394, 'amount': 15},
   {'transaction-id': 63703, 'amount': 14},
   {'transaction-id': 65088, 'amount': 12},
   {'transaction-id': 65596, 'amount': 13},
   {'transaction-id': 66201, 'amount': 14},
   {'transaction-id': 66954, 'amount': 14},
   {'transaction-id': 67765, 'amount': 14},
   {'transaction-id': 67823, 'amount': 14},
   {'transaction-id': 68180, 'amount': 14},
   {'transaction-id': 69884, 'amount': 14},
   {'transaction-id': 70077, 'amount': 12},
   {'transaction-id': 73104, 'amount': 15},
   {'transaction-id': 73501, 'amount': 14},
   {'transaction-id': 73890, 'amount': 14},
   {'transaction-id': 74214, 'amount': 14},
   {'transaction-id': 74601, 'amount': 13},
   {'transaction-id': 74875, 'amount': 14},
   {'transaction-id': 74919, 'amount': 13},
   {'transaction-id': 74995, 'amount': 13},
   {'transaction-id': 75667, 'amount': 14},
   {'transaction-id': 75814, 'amount': 13},
   {'transaction-id': 75923, 'amount': 14},
   {'transaction-id': 75958, 'amount': 13},
   {'transaction-id': 76435, 'amount': 13},
   {'transaction-id': 76868, 'amount': 13},
   {'transaction-id': 77115, 'amount': 13},
   {'transaction-id': 77311, 'amount': 13},
   {'transaction-id': 77899, 'amount': 14},
   {'transaction-id': 78598, 'amount': 14},
   {'transaction-id': 78780, 'amount': 13},
   {'transaction-id': 79292, 'amount': 14},
   {'transaction-id': 80097, 'amount': 14},
   {'transaction-id': 80782, 'amount': 14},
   {'transaction-id': 80941, 'amount': 13},
   {'transaction-id': 81029, 'amount': 14},
   {'transaction-id': 81160, 'amount': 14},
   {'transaction-id': 81892, 'amount': 14},
   {'transaction-id': 81950, 'amount': 14},
   {'transaction-id': 82918, 'amount': 13},
   {'transaction-id': 83504, 'amount': 12},
   {'transaction-id': 85172, 'amount': 14},
   {'transaction-id': 85269, 'amount': 13},
   {'transaction-id': 85398, 'amount': 13},
   {'transaction-id': 86698, 'amount': 14},
   {'transaction-id': 87215, 'amount': 13},
   {'transaction-id': 87238, 'amount': 13},
   {'transaction-id': 88077, 'amount': 14},
   {'transaction-id': 88168, 'amount': 14},
   {'transaction-id': 89420, 'amount': 13},
   {'transaction-id': 89640, 'amount': 13},
   {'transaction-id': 89906, 'amount': 14},
   {'transaction-id': 90075, 'amount': 15},
   {'transaction-id': 90460, 'amount': 14},
   {'transaction-id': 91379, 'amount': 13},
   {'transaction-id': 91585, 'amount': 14},
   {'transaction-id': 91591, 'amount': 14},
   {'transaction-id': 92166, 'amount': 13},
   {'transaction-id': 92476, 'amount': 13},
   {'transaction-id': 92663, 'amount': 14},
   {'transaction-id': 92894, 'amount': 14},
   {'transaction-id': 93177, 'amount': 13},
   {'transaction-id': 93722, 'amount': 14},
   {'transaction-id': 94111, 'amount': 13},
   {'transaction-id': 94442, 'amount': 14},
   {'transaction-id': 94625, 'amount': 15},
   {'transaction-id': 94765, 'amount': 13},
   {'transaction-id': 94809, 'amount': 15},
   {'transaction-id': 95240, 'amount': 15},
   {'transaction-id': 95271, 'amount': 13},
   {'transaction-id': 95378, 'amount': 13},
   {'transaction-id': 95679, 'amount': 13},
   {'transaction-id': 96731, 'amount': 14},
   {'transaction-id': 96898, 'amount': 14},
   {'transaction-id': 96961, 'amount': 14},
   {'transaction-id': 96989, 'amount': 14},
   {'transaction-id': 97346, 'amount': 13},
   {'transaction-id': 97416, 'amount': 15},
   {'transaction-id': 97480, 'amount': 13},
   {'transaction-id': 97516, 'amount': 13},
   {'transaction-id': 97852, 'amount': 13},
   {'transaction-id': 97994, 'amount': 13},
   {'transaction-id': 98118, 'amount': 13},
   {'transaction-id': 98206, 'amount': 14},
   {'transaction-id': 99000, 'amount': 14},
   {'transaction-id': 99285, 'amount': 13}]},
 {'id': 2,
  'name': 'Laura',
  'transactions': [{'transaction-id': 694, 'amount': 3980},
   {'transaction-id': 2074, 'amount': 3723},
   {'transaction-id': 3706, 'amount': 3913},
   {'transaction-id': 3708, 'amount': 3904},
   {'transaction-id': 3851, 'amount': 3686},
   {'transaction-id': 4195, 'amount': 3954},
   {'transaction-id': 5315, 'amount': 3774},
   {'transaction-id': 5570, 'amount': 3678},
   {'transaction-id': 6626, 'amount': 3755},
   {'transaction-id': 6711, 'amount': 3620},
   {'transaction-id': 6862, 'amount': 3876},
   {'transaction-id': 6889, 'amount': 3861},
   {'transaction-id': 7639, 'amount': 3676},
   {'transaction-id': 8642, 'amount': 3808},
   {'transaction-id': 8829, 'amount': 3638},
   {'transaction-id': 8973, 'amount': 3595},
   {'transaction-id': 9835, 'amount': 4001},
   {'transaction-id': 11580, 'amount': 3739},
   {'transaction-id': 13440, 'amount': 3874},
   {'transaction-id': 14495, 'amount': 3622},
   {'transaction-id': 15618, 'amount': 3862},
   {'transaction-id': 16623, 'amount': 3835},
   {'transaction-id': 17106, 'amount': 3724},
   {'transaction-id': 17151, 'amount': 3664},
   {'transaction-id': 17671, 'amount': 3778},
   {'transaction-id': 18136, 'amount': 3784},
   {'transaction-id': 19584, 'amount': 3755},
   {'transaction-id': 21561, 'amount': 3619},
   {'transaction-id': 22016, 'amount': 3580},
   {'transaction-id': 22554, 'amount': 3947},
   {'transaction-id': 23913, 'amount': 3902},
   {'transaction-id': 25342, 'amount': 3826},
   {'transaction-id': 25812, 'amount': 3747},
   {'transaction-id': 26477, 'amount': 3657},
   {'transaction-id': 29983, 'amount': 3857},
   {'transaction-id': 30647, 'amount': 3788},
   {'transaction-id': 31708, 'amount': 4123},
   {'transaction-id': 32123, 'amount': 3968},
   {'transaction-id': 33446, 'amount': 3949},
   {'transaction-id': 34121, 'amount': 3627},
   {'transaction-id': 34235, 'amount': 3860},
   {'transaction-id': 35767, 'amount': 3643},
   {'transaction-id': 36998, 'amount': 3506},
   {'transaction-id': 37086, 'amount': 3843},
   {'transaction-id': 37354, 'amount': 3825},
   {'transaction-id': 38142, 'amount': 3666},
   {'transaction-id': 38350, 'amount': 3922},
   {'transaction-id': 38683, 'amount': 3694},
   {'transaction-id': 38687, 'amount': 3871},
   {'transaction-id': 39215, 'amount': 3748},
   {'transaction-id': 39850, 'amount': 3575},
   {'transaction-id': 40798, 'amount': 3991},
   {'transaction-id': 42841, 'amount': 3760},
   {'transaction-id': 42871, 'amount': 3793},
   {'transaction-id': 43098, 'amount': 3853},
   {'transaction-id': 44248, 'amount': 3776},
   {'transaction-id': 45809, 'amount': 3656},
   {'transaction-id': 46094, 'amount': 3486},
   {'transaction-id': 46458, 'amount': 3891},
   {'transaction-id': 46592, 'amount': 3899},
   {'transaction-id': 49968, 'amount': 3596},
   {'transaction-id': 50114, 'amount': 4018},
   {'transaction-id': 50437, 'amount': 3881},
   {'transaction-id': 50516, 'amount': 3548},
   {'transaction-id': 50996, 'amount': 3907},
   {'transaction-id': 51116, 'amount': 3665},
   {'transaction-id': 51714, 'amount': 3869},
   {'transaction-id': 51817, 'amount': 3725},
   {'transaction-id': 52115, 'amount': 3973},
   {'transaction-id': 52128, 'amount': 3802},
   {'transaction-id': 53530, 'amount': 3824},
   {'transaction-id': 53931, 'amount': 3671},
   {'transaction-id': 54228, 'amount': 3820},
   {'transaction-id': 54299, 'amount': 3708},
   {'transaction-id': 55700, 'amount': 3885},
   {'transaction-id': 56612, 'amount': 3729},
   {'transaction-id': 57065, 'amount': 3841},
   {'transaction-id': 57171, 'amount': 3737},
   {'transaction-id': 57925, 'amount': 3713},
   {'transaction-id': 58146, 'amount': 3808},
   {'transaction-id': 58281, 'amount': 3664},
   {'transaction-id': 59414, 'amount': 3769},
   {'transaction-id': 60308, 'amount': 3854},
   {'transaction-id': 61164, 'amount': 3983},
   {'transaction-id': 62357, 'amount': 3797},
   {'transaction-id': 62790, 'amount': 3611},
   {'transaction-id': 65592, 'amount': 3622},
   {'transaction-id': 67191, 'amount': 3837},
   {'transaction-id': 67234, 'amount': 3720},
   {'transaction-id': 69438, 'amount': 3805},
   {'transaction-id': 72102, 'amount': 3753},
   {'transaction-id': 72357, 'amount': 3964},
   {'transaction-id': 72537, 'amount': 3815},
   {'transaction-id': 73956, 'amount': 3614},
   {'transaction-id': 74582, 'amount': 3834},
   {'transaction-id': 74834, 'amount': 3942},
   {'transaction-id': 75692, 'amount': 3608},
   {'transaction-id': 75745, 'amount': 3738},
   {'transaction-id': 77482, 'amount': 3863},
   {'transaction-id': 78755, 'amount': 3641},
   {'transaction-id': 78871, 'amount': 3750},
   {'transaction-id': 80455, 'amount': 3746},
   {'transaction-id': 83185, 'amount': 3667},
   {'transaction-id': 83760, 'amount': 3671},
   {'transaction-id': 84423, 'amount': 3873},
   {'transaction-id': 84605, 'amount': 3858},
   {'transaction-id': 85422, 'amount': 3645},
   {'transaction-id': 87343, 'amount': 3658},
   {'transaction-id': 87447, 'amount': 3554},
   {'transaction-id': 88372, 'amount': 3748},
   {'transaction-id': 88586, 'amount': 3928},
   {'transaction-id': 89178, 'amount': 4149},
   {'transaction-id': 89394, 'amount': 3705},
   {'transaction-id': 91570, 'amount': 3754},
   {'transaction-id': 91666, 'amount': 3814},
   {'transaction-id': 93157, 'amount': 4075},
   {'transaction-id': 96331, 'amount': 3984},
   {'transaction-id': 97948, 'amount': 3702},
   {'transaction-id': 98698, 'amount': 4013},
   {'transaction-id': 99699, 'amount': 3703}]})

### Basic Queries

Once we parse our JSON data into proper Python objects (`dict`s, `list`s, etc.) we can perform more interesting queries by creating small Python functions to run on our data.

In [10]:
# filter: keep only some elements of the sequence
js.filter(lambda record: record['name'] == 'Alice').take(5)

({'id': 12,
  'name': 'Alice',
  'transactions': [{'transaction-id': 2258, 'amount': 375},
   {'transaction-id': 4479, 'amount': 333},
   {'transaction-id': 7580, 'amount': 346},
   {'transaction-id': 8065, 'amount': 333},
   {'transaction-id': 9415, 'amount': 371},
   {'transaction-id': 11419, 'amount': 323},
   {'transaction-id': 13104, 'amount': 362},
   {'transaction-id': 13908, 'amount': 297},
   {'transaction-id': 13914, 'amount': 320},
   {'transaction-id': 15193, 'amount': 360},
   {'transaction-id': 16131, 'amount': 320},
   {'transaction-id': 16420, 'amount': 368},
   {'transaction-id': 17485, 'amount': 391},
   {'transaction-id': 18602, 'amount': 338},
   {'transaction-id': 19408, 'amount': 368},
   {'transaction-id': 21447, 'amount': 350},
   {'transaction-id': 22457, 'amount': 418},
   {'transaction-id': 23113, 'amount': 355},
   {'transaction-id': 26070, 'amount': 346},
   {'transaction-id': 26911, 'amount': 390},
   {'transaction-id': 27469, 'amount': 334},
   {'transaction-id': 31811, 'amount': 381},
   {'transaction-id': 31976, 'amount': 416},
   {'transaction-id': 32656, 'amount': 364},
   {'transaction-id': 33315, 'amount': 331},
   {'transaction-id': 36858, 'amount': 369},
   {'transaction-id': 39549, 'amount': 369},
   {'transaction-id': 39668, 'amount': 362},
   {'transaction-id': 44717, 'amount': 290},
   {'transaction-id': 44996, 'amount': 417},
   {'transaction-id': 47719, 'amount': 404},
   {'transaction-id': 48228, 'amount': 298},
   {'transaction-id': 48306, 'amount': 414},
   {'transaction-id': 49842, 'amount': 326},
   {'transaction-id': 50153, 'amount': 283},
   {'transaction-id': 50649, 'amount': 333},
   {'transaction-id': 51948, 'amount': 385},
   {'transaction-id': 52922, 'amount': 290},
   {'transaction-id': 53022, 'amount': 311},
   {'transaction-id': 53361, 'amount': 309},
   {'transaction-id': 54429, 'amount': 347},
   {'transaction-id': 58007, 'amount': 363},
   {'transaction-id': 59716, 'amount': 340},
   {'transaction-id': 59895, 'amount': 354},
   {'transaction-id': 60744, 'amount': 274},
   {'transaction-id': 60942, 'amount': 328},
   {'transaction-id': 65259, 'amount': 270},
   {'transaction-id': 65633, 'amount': 308},
   {'transaction-id': 65901, 'amount': 371},
   {'transaction-id': 67320, 'amount': 347},
   {'transaction-id': 68087, 'amount': 336},
   {'transaction-id': 69773, 'amount': 356},
   {'transaction-id': 74868, 'amount': 305},
   {'transaction-id': 75000, 'amount': 365},
   {'transaction-id': 76155, 'amount': 417},
   {'transaction-id': 76297, 'amount': 385},
   {'transaction-id': 76374, 'amount': 358},
   {'transaction-id': 76450, 'amount': 306},
   {'transaction-id': 76558, 'amount': 339},
   {'transaction-id': 76773, 'amount': 330},
   {'transaction-id': 77349, 'amount': 388},
   {'transaction-id': 80331, 'amount': 397},
   {'transaction-id': 80877, 'amount': 254},
   {'transaction-id': 81146, 'amount': 346},
   {'transaction-id': 82901, 'amount': 378},
   {'transaction-id': 84195, 'amount': 346},
   {'transaction-id': 85231, 'amount': 333},
   {'transaction-id': 87999, 'amount': 401},
   {'transaction-id': 89617, 'amount': 304},
   {'transaction-id': 90690, 'amount': 315},
   {'transaction-id': 91959, 'amount': 341},
   {'transaction-id': 94510, 'amount': 357},
   {'transaction-id': 95358, 'amount': 356},
   {'transaction-id': 95394, 'amount': 388},
   {'transaction-id': 95500, 'amount': 345},
   {'transaction-id': 96193, 'amount': 284},
   {'transaction-id': 96792, 'amount': 349},
   {'transaction-id': 97804, 'amount': 369},
   {'transaction-id': 99605, 'amount': 341}]},
 {'id': 22,
  'name': 'Alice',
  'transactions': [{'transaction-id': 189, 'amount': 2},
   {'transaction-id': 265, 'amount': 2},
   {'transaction-id': 687, 'amount': 2},
   {'transaction-id': 1081, 'amount': 2},
   {'transaction-id': 1245, 'amount': 2},
   {'transaction-id': 1801, 'amount': 1},
   {'transaction-id': 2277, 'amount': 2},
   {'transaction-id': 2633, 'amount': 2},
   {'transaction-id': 2940, 'amount': 1},
   {'transaction-id': 2958, 'amount': 1},
   {'transaction-id': 4031, 'amount': 2},
   {'transaction-id': 5110, 'amount': 2},
   {'transaction-id': 6682, 'amount': 2},
   {'transaction-id': 7200, 'amount': 2},
   {'transaction-id': 8031, 'amount': 2},
   {'transaction-id': 9143, 'amount': 1},
   {'transaction-id': 9246, 'amount': 2},
   {'transaction-id': 9958, 'amount': 2},
   {'transaction-id': 11941, 'amount': 2},
   {'transaction-id': 11947, 'amount': 3},
   {'transaction-id': 12550, 'amount': 2},
   {'transaction-id': 13109, 'amount': 2},
   {'transaction-id': 14099, 'amount': 3},
   {'transaction-id': 14703, 'amount': 2},
   {'transaction-id': 15253, 'amount': 3},
   {'transaction-id': 15294, 'amount': 2},
   {'transaction-id': 16512, 'amount': 2},
   {'transaction-id': 17030, 'amount': 2},
   {'transaction-id': 17195, 'amount': 2},
   {'transaction-id': 17486, 'amount': 2},
   {'transaction-id': 18449, 'amount': 1},
   {'transaction-id': 19296, 'amount': 2},
   {'transaction-id': 19823, 'amount': 2},
   {'transaction-id': 20058, 'amount': 2},
   {'transaction-id': 20255, 'amount': 2},
   {'transaction-id': 21283, 'amount': 2},
   {'transaction-id': 21294, 'amount': 2},
   {'transaction-id': 22569, 'amount': 2},
   {'transaction-id': 22791, 'amount': 2},
   {'transaction-id': 23123, 'amount': 2},
   {'transaction-id': 23531, 'amount': 2},
   {'transaction-id': 23620, 'amount': 2},
   {'transaction-id': 23633, 'amount': 2},
   {'transaction-id': 24368, 'amount': 2},
   {'transaction-id': 24572, 'amount': 2},
   {'transaction-id': 26132, 'amount': 2},
   {'transaction-id': 27569, 'amount': 3},
   {'transaction-id': 28548, 'amount': 1},
   {'transaction-id': 28630, 'amount': 2},
   {'transaction-id': 28766, 'amount': 2},
   {'transaction-id': 29944, 'amount': 2},
   {'transaction-id': 30239, 'amount': 2},
   {'transaction-id': 30269, 'amount': 1},
   {'transaction-id': 30756, 'amount': 2},
   {'transaction-id': 31367, 'amount': 2},
   {'transaction-id': 32936, 'amount': 2},
   {'transaction-id': 33449, 'amount': 1},
   {'transaction-id': 33490, 'amount': 1},
   {'transaction-id': 33626, 'amount': 2},
   {'transaction-id': 34148, 'amount': 2},
   {'transaction-id': 34683, 'amount': 2},
   {'transaction-id': 35056, 'amount': 2},
   {'transaction-id': 35489, 'amount': 2},
   {'transaction-id': 36240, 'amount': 2},
   {'transaction-id': 36446, 'amount': 2},
   {'transaction-id': 37131, 'amount': 2},
   {'transaction-id': 37422, 'amount': 2},
   {'transaction-id': 37786, 'amount': 2},
   {'transaction-id': 38467, 'amount': 2},
   {'transaction-id': 38969, 'amount': 2},
   {'transaction-id': 39484, 'amount': 2},
   {'transaction-id': 40001, 'amount': 2},
   {'transaction-id': 40034, 'amount': 2},
   {'transaction-id': 40600, 'amount': 2},
   {'transaction-id': 40661, 'amount': 2},
   {'transaction-id': 40794, 'amount': 2},
   {'transaction-id': 41040, 'amount': 2},
   {'transaction-id': 41447, 'amount': 2},
   {'transaction-id': 41683, 'amount': 2},
   {'transaction-id': 42819, 'amount': 3},
   {'transaction-id': 42911, 'amount': 2},
   {'transaction-id': 44344, 'amount': 2},
   {'transaction-id': 44510, 'amount': 3},
   {'transaction-id': 44618, 'amount': 2},
   {'transaction-id': 45621, 'amount': 1},
   {'transaction-id': 46642, 'amount': 1},
   {'transaction-id': 47895, 'amount': 3},
   {'transaction-id': 48198, 'amount': 2},
   {'transaction-id': 48804, 'amount': 2},
   {'transaction-id': 49116, 'amount': 2},
   {'transaction-id': 50055, 'amount': 2},
   {'transaction-id': 50587, 'amount': 1},
   {'transaction-id': 51086, 'amount': 2},
   {'transaction-id': 51784, 'amount': 3},
   {'transaction-id': 52008, 'amount': 2},
   {'transaction-id': 53666, 'amount': 2},
   {'transaction-id': 54053, 'amount': 2},
   {'transaction-id': 54702, 'amount': 3},
   {'transaction-id': 54806, 'amount': 2},
   {'transaction-id': 55922, 'amount': 2},
   {'transaction-id': 56258, 'amount': 2},
   {'transaction-id': 56711, 'amount': 2},
   {'transaction-id': 57071, 'amount': 2},
   {'transaction-id': 57759, 'amount': 2},
   {'transaction-id': 58143, 'amount': 2},
   {'transaction-id': 58871, 'amount': 2},
   {'transaction-id': 59009, 'amount': 1},
   {'transaction-id': 59134, 'amount': 2},
   {'transaction-id': 59435, 'amount': 2},
   {'transaction-id': 59654, 'amount': 1},
   {'transaction-id': 60145, 'amount': 2},
   {'transaction-id': 60296, 'amount': 2},
   {'transaction-id': 60986, 'amount': 2},
   {'transaction-id': 61132, 'amount': 2},
   {'transaction-id': 61674, 'amount': 2},
   {'transaction-id': 61730, 'amount': 2},
   {'transaction-id': 61970, 'amount': 2},
   {'transaction-id': 62341, 'amount': 2},
   {'transaction-id': 62729, 'amount': 2},
   {'transaction-id': 62845, 'amount': 2},
   {'transaction-id': 63559, 'amount': 2},
   {'transaction-id': 63713, 'amount': 2},
   {'transaction-id': 64030, 'amount': 2},
   {'transaction-id': 65056, 'amount': 2},
   {'transaction-id': 65179, 'amount': 2},
   {'transaction-id': 66527, 'amount': 2},
   {'transaction-id': 66853, 'amount': 2},
   {'transaction-id': 68720, 'amount': 2},
   {'transaction-id': 69740, 'amount': 2},
   {'transaction-id': 70373, 'amount': 2},
   {'transaction-id': 70865, 'amount': 2},
   {'transaction-id': 70910, 'amount': 1},
   {'transaction-id': 71960, 'amount': 2},
   {'transaction-id': 72028, 'amount': 2},
   {'transaction-id': 72143, 'amount': 2},
   {'transaction-id': 72561, 'amount': 2},
   {'transaction-id': 73294, 'amount': 2},
   {'transaction-id': 73632, 'amount': 3},
   {'transaction-id': 73852, 'amount': 3},
   {'transaction-id': 74026, 'amount': 2},
   {'transaction-id': 75563, 'amount': 2},
   {'transaction-id': 76502, 'amount': 1},
   {'transaction-id': 76855, 'amount': 2},
   {'transaction-id': 77145, 'amount': 2},
   {'transaction-id': 77497, 'amount': 3},
   {'transaction-id': 78906, 'amount': 2},
   {'transaction-id': 79769, 'amount': 2},
   {'transaction-id': 79842, 'amount': 3},
   {'transaction-id': 80842, 'amount': 1},
   {'transaction-id': 80902, 'amount': 2},
   {'transaction-id': 81693, 'amount': 2},
   {'transaction-id': 82289, 'amount': 3},
   {'transaction-id': 82434, 'amount': 2},
   {'transaction-id': 83178, 'amount': 2},
   {'transaction-id': 84847, 'amount': 2},
   {'transaction-id': 85171, 'amount': 1},
   {'transaction-id': 85258, 'amount': 2},
   {'transaction-id': 85777, 'amount': 2},
   {'transaction-id': 86180, 'amount': 1},
   {'transaction-id': 86217, 'amount': 2},
   {'transaction-id': 86415, 'amount': 3},
   {'transaction-id': 86448, 'amount': 3},
   {'transaction-id': 86530, 'amount': 2},
   {'transaction-id': 87216, 'amount': 2},
   {'transaction-id': 87485, 'amount': 2},
   {'transaction-id': 87619, 'amount': 3},
   {'transaction-id': 87764, 'amount': 2},
   {'transaction-id': 87922, 'amount': 2},
   {'transaction-id': 88108, 'amount': 2},
   {'transaction-id': 88358, 'amount': 2},
   {'transaction-id': 88608, 'amount': 2},
   {'transaction-id': 88749, 'amount': 2},
   {'transaction-id': 90138, 'amount': 2},
   {'transaction-id': 90320, 'amount': 2},
   {'transaction-id': 90871, 'amount': 1},
   {'transaction-id': 91152, 'amount': 2},
   {'transaction-id': 92438, 'amount': 1},
   {'transaction-id': 92676, 'amount': 2},
   {'transaction-id': 92920, 'amount': 2},
   {'transaction-id': 93605, 'amount': 2},
   {'transaction-id': 94315, 'amount': 2},
   {'transaction-id': 94906, 'amount': 2},
   {'transaction-id': 95213, 'amount': 3},
   {'transaction-id': 95220, 'amount': 2},
   {'transaction-id': 95671, 'amount': 2},
   {'transaction-id': 97088, 'amount': 2},
   {'transaction-id': 97208, 'amount': 2},
   {'transaction-id': 97868, 'amount': 2},
   {'transaction-id': 98577, 'amount': 2},
   {'transaction-id': 99173, 'amount': 2},
   {'transaction-id': 99189, 'amount': 2},
   {'transaction-id': 99702, 'amount': 2}]},
 {'id': 48,
  'name': 'Alice',
  'transactions': [{'transaction-id': 9102, 'amount': 735},
   {'transaction-id': 9622, 'amount': 609},
   {'transaction-id': 11508, 'amount': 603},
   {'transaction-id': 12358, 'amount': 564},
   {'transaction-id': 13024, 'amount': 605},
   {'transaction-id': 21721, 'amount': 565},
   {'transaction-id': 24451, 'amount': 652},
   {'transaction-id': 28254, 'amount': 500},
   {'transaction-id': 32793, 'amount': 562},
   {'transaction-id': 33265, 'amount': 420},
   {'transaction-id': 52107, 'amount': 586},
   {'transaction-id': 52873, 'amount': 631},
   {'transaction-id': 57528, 'amount': 546},
   {'transaction-id': 57767, 'amount': 582},
   {'transaction-id': 59504, 'amount': 625},
   {'transaction-id': 60585, 'amount': 498},
   {'transaction-id': 62086, 'amount': 674},
   {'transaction-id': 75461, 'amount': 729},
   {'transaction-id': 80427, 'amount': 555},
   {'transaction-id': 80549, 'amount': 482},
   {'transaction-id': 82174, 'amount': 521},
   {'transaction-id': 83904, 'amount': 710},
   {'transaction-id': 88212, 'amount': 442},
   {'transaction-id': 92210, 'amount': 468},
   {'transaction-id': 98613, 'amount': 556},
   {'transaction-id': 98825, 'amount': 546}]},
 {'id': 58,
  'name': 'Alice',
  'transactions': [{'transaction-id': 22, 'amount': 357},
   {'transaction-id': 507, 'amount': 375},
   {'transaction-id': 667, 'amount': 474},
   {'transaction-id': 884, 'amount': 547},
   {'transaction-id': 1015, 'amount': 741},
   {'transaction-id': 1168, 'amount': 676},
   {'transaction-id': 1809, 'amount': 526},
   {'transaction-id': 2251, 'amount': 628},
   {'transaction-id': 2427, 'amount': 528},
   {'transaction-id': 2523, 'amount': 507},
   {'transaction-id': 2649, 'amount': 718},
   {'transaction-id': 3574, 'amount': 541},
   {'transaction-id': 3658, 'amount': 593},
   {'transaction-id': 4392, 'amount': 547},
   {'transaction-id': 4801, 'amount': 429},
   {'transaction-id': 5288, 'amount': 621},
   {'transaction-id': 5390, 'amount': 430},
   {'transaction-id': 5452, 'amount': 541},
   {'transaction-id': 5702, 'amount': 623},
   {'transaction-id': 5976, 'amount': 586},
   {'transaction-id': 6238, 'amount': 555},
   {'transaction-id': 6451, 'amount': 606},
   {'transaction-id': 6477, 'amount': 581},
   {'transaction-id': 6706, 'amount': 448},
   {'transaction-id': 7028, 'amount': 599},
   {'transaction-id': 7370, 'amount': 538},
   {'transaction-id': 7660, 'amount': 585},
   {'transaction-id': 7698, 'amount': 574},
   {'transaction-id': 8086, 'amount': 662},
   {'transaction-id': 8955, 'amount': 498},
   {'transaction-id': 9268, 'amount': 534},
   {'transaction-id': 9562, 'amount': 476},
   {'transaction-id': 9717, 'amount': 642},
   {'transaction-id': 9925, 'amount': 553},
   {'transaction-id': 10256, 'amount': 532},
   {'transaction-id': 11912, 'amount': 708},
   {'transaction-id': 12117, 'amount': 550},
   {'transaction-id': 12515, 'amount': 639},
   {'transaction-id': 12839, 'amount': 460},
   {'transaction-id': 13117, 'amount': 609},
   {'transaction-id': 13352, 'amount': 510},
   {'transaction-id': 13452, 'amount': 544},
   {'transaction-id': 13777, 'amount': 646},
   {'transaction-id': 13847, 'amount': 518},
   {'transaction-id': 13861, 'amount': 567},
   {'transaction-id': 14557, 'amount': 553},
   {'transaction-id': 14595, 'amount': 585},
   {'transaction-id': 14633, 'amount': 565},
   {'transaction-id': 14804, 'amount': 719},
   {'transaction-id': 15045, 'amount': 521},
   {'transaction-id': 15133, 'amount': 498},
   {'transaction-id': 15619, 'amount': 587},
   {'transaction-id': 15833, 'amount': 498},
   {'transaction-id': 16178, 'amount': 714},
   {'transaction-id': 16864, 'amount': 627},
   {'transaction-id': 16976, 'amount': 599},
   {'transaction-id': 17444, 'amount': 695},
   {'transaction-id': 17683, 'amount': 498},
   {'transaction-id': 17731, 'amount': 556},
   {'transaction-id': 18093, 'amount': 577},
   {'transaction-id': 18409, 'amount': 516},
   {'transaction-id': 18480, 'amount': 638},
   {'transaction-id': 18525, 'amount': 511},
   {'transaction-id': 19392, 'amount': 706},
   {'transaction-id': 19756, 'amount': 485},
   {'transaction-id': 19790, 'amount': 663},
   {'transaction-id': 21234, 'amount': 507},
   {'transaction-id': 21660, 'amount': 688},
   {'transaction-id': 21749, 'amount': 449},
   {'transaction-id': 22050, 'amount': 567},
   {'transaction-id': 22294, 'amount': 507},
   {'transaction-id': 22982, 'amount': 667},
   {'transaction-id': 23192, 'amount': 643},
   {'transaction-id': 23276, 'amount': 654},
   {'transaction-id': 23318, 'amount': 712},
   {'transaction-id': 23372, 'amount': 508},
   {'transaction-id': 25839, 'amount': 276},
   {'transaction-id': 27737, 'amount': 384},
   {'transaction-id': 27893, 'amount': 636},
   {'transaction-id': 30692, 'amount': 548},
   {'transaction-id': 30835, 'amount': 545},
   {'transaction-id': 31108, 'amount': 629},
   {'transaction-id': 31338, 'amount': 496},
   {'transaction-id': 31489, 'amount': 560},
   {'transaction-id': 31777, 'amount': 678},
   {'transaction-id': 32098, 'amount': 532},
   {'transaction-id': 32107, 'amount': 479},
   {'transaction-id': 32299, 'amount': 644},
   {'transaction-id': 32385, 'amount': 588},
   {'transaction-id': 32792, 'amount': 551},
   {'transaction-id': 34735, 'amount': 529},
   {'transaction-id': 34965, 'amount': 701},
   {'transaction-id': 35315, 'amount': 436},
   {'transaction-id': 35782, 'amount': 619},
   {'transaction-id': 35807, 'amount': 743},
   {'transaction-id': 35859, 'amount': 842},
   {'transaction-id': 36164, 'amount': 559},
   {'transaction-id': 36655, 'amount': 405},
   {'transaction-id': 36658, 'amount': 437},
   {'transaction-id': 37515, 'amount': 492},
   {'transaction-id': 38116, 'amount': 499},
   {'transaction-id': 39025, 'amount': 526},
   {'transaction-id': 39783, 'amount': 662},
   {'transaction-id': 40108, 'amount': 460},
   {'transaction-id': 40776, 'amount': 657},
   {'transaction-id': 41199, 'amount': 689},
   {'transaction-id': 41464, 'amount': 468},
   {'transaction-id': 41609, 'amount': 561},
   {'transaction-id': 42934, 'amount': 391},
   {'transaction-id': 43821, 'amount': 529},
   {'transaction-id': 44003, 'amount': 519},
   {'transaction-id': 44081, 'amount': 543},
   {'transaction-id': 44220, 'amount': 612},
   {'transaction-id': 44243, 'amount': 564},
   {'transaction-id': 44474, 'amount': 464},
   {'transaction-id': 45537, 'amount': 474},
   {'transaction-id': 45700, 'amount': 444},
   {'transaction-id': 45787, 'amount': 491},
   {'transaction-id': 45898, 'amount': 657},
   {'transaction-id': 46647, 'amount': 608},
   {'transaction-id': 47246, 'amount': 394},
   {'transaction-id': 47655, 'amount': 637},
   {'transaction-id': 47958, 'amount': 471},
   {'transaction-id': 48066, 'amount': 568},
   {'transaction-id': 48721, 'amount': 555},
   {'transaction-id': 48751, 'amount': 544},
   {'transaction-id': 48814, 'amount': 682},
   {'transaction-id': 49467, 'amount': 638},
   {'transaction-id': 50501, 'amount': 476},
   {'transaction-id': 50845, 'amount': 598},
   {'transaction-id': 51953, 'amount': 793},
   {'transaction-id': 52302, 'amount': 510},
   {'transaction-id': 53034, 'amount': 598},
   {'transaction-id': 53381, 'amount': 583},
   {'transaction-id': 54223, 'amount': 562},
   {'transaction-id': 54409, 'amount': 472},
   {'transaction-id': 54487, 'amount': 582},
   {'transaction-id': 55170, 'amount': 507},
   {'transaction-id': 55615, 'amount': 656},
   {'transaction-id': 55867, 'amount': 644},
   {'transaction-id': 56272, 'amount': 459},
   {'transaction-id': 56572, 'amount': 583},
   {'transaction-id': 57546, 'amount': 503},
   {'transaction-id': 57548, 'amount': 628},
   {'transaction-id': 57693, 'amount': 722},
   {'transaction-id': 58384, 'amount': 612},
   {'transaction-id': 58388, 'amount': 653},
   {'transaction-id': 58681, 'amount': 601},
   {'transaction-id': 59224, 'amount': 664},
   {'transaction-id': 59862, 'amount': 600},
   {'transaction-id': 60138, 'amount': 689},
   {'transaction-id': 60268, 'amount': 670},
   {'transaction-id': 60897, 'amount': 493},

In [11]:
def count_transactions(d):
    return {'name': d['name'], 'count': len(d['transactions'])}

# map: apply a function to each element
(js.filter(lambda record: record['name'] == 'Alice')
   .map(count_transactions)
   .take(5))

({'name': 'Alice', 'count': 79},
 {'name': 'Alice', 'count': 192},
 {'name': 'Alice', 'count': 26},
 {'name': 'Alice', 'count': 257},
 {'name': 'Alice', 'count': 334})

In [12]:
# pluck: select a field, as from a dictionary, element[field]
(js.filter(lambda record: record['name'] == 'Alice')
   .map(count_transactions)
   .pluck('count')
   .take(5))

(79, 192, 26, 257, 334)

In [13]:
# Average number of transactions for all of the Alice entries
(js.filter(lambda record: record['name'] == 'Alice')
   .map(count_transactions)
   .pluck('count')
   .mean()
   .compute())

227.3748902546093

### Use `flatten` to de-nest

In the example below we see the use of `.flatten()` to flatten results.  We compute the average amount for all transactions for all Alices.

In [14]:
js.filter(lambda record: record['name'] == 'Alice').pluck('transactions').take(3)

([{'transaction-id': 2258, 'amount': 375},
  {'transaction-id': 4479, 'amount': 333},
  {'transaction-id': 7580, 'amount': 346},
  {'transaction-id': 8065, 'amount': 333},
  {'transaction-id': 9415, 'amount': 371},
  {'transaction-id': 11419, 'amount': 323},
  {'transaction-id': 13104, 'amount': 362},
  {'transaction-id': 13908, 'amount': 297},
  {'transaction-id': 13914, 'amount': 320},
  {'transaction-id': 15193, 'amount': 360},
  {'transaction-id': 16131, 'amount': 320},
  {'transaction-id': 16420, 'amount': 368},
  {'transaction-id': 17485, 'amount': 391},
  {'transaction-id': 18602, 'amount': 338},
  {'transaction-id': 19408, 'amount': 368},
  {'transaction-id': 21447, 'amount': 350},
  {'transaction-id': 22457, 'amount': 418},
  {'transaction-id': 23113, 'amount': 355},
  {'transaction-id': 26070, 'amount': 346},
  {'transaction-id': 26911, 'amount': 390},
  {'transaction-id': 27469, 'amount': 334},
  {'transaction-id': 31811, 'amount': 381},
  {'transaction-id': 31976, 'amount': 416},
  {'transaction-id': 32656, 'amount': 364},
  {'transaction-id': 33315, 'amount': 331},
  {'transaction-id': 36858, 'amount': 369},
  {'transaction-id': 39549, 'amount': 369},
  {'transaction-id': 39668, 'amount': 362},
  {'transaction-id': 44717, 'amount': 290},
  {'transaction-id': 44996, 'amount': 417},
  {'transaction-id': 47719, 'amount': 404},
  {'transaction-id': 48228, 'amount': 298},
  {'transaction-id': 48306, 'amount': 414},
  {'transaction-id': 49842, 'amount': 326},
  {'transaction-id': 50153, 'amount': 283},
  {'transaction-id': 50649, 'amount': 333},
  {'transaction-id': 51948, 'amount': 385},
  {'transaction-id': 52922, 'amount': 290},
  {'transaction-id': 53022, 'amount': 311},
  {'transaction-id': 53361, 'amount': 309},
  {'transaction-id': 54429, 'amount': 347},
  {'transaction-id': 58007, 'amount': 363},
  {'transaction-id': 59716, 'amount': 340},
  {'transaction-id': 59895, 'amount': 354},
  {'transaction-id': 60744, 'amount': 274},
  {'transaction-id': 60942, 'amount': 328},
  {'transaction-id': 65259, 'amount': 270},
  {'transaction-id': 65633, 'amount': 308},
  {'transaction-id': 65901, 'amount': 371},
  {'transaction-id': 67320, 'amount': 347},
  {'transaction-id': 68087, 'amount': 336},
  {'transaction-id': 69773, 'amount': 356},
  {'transaction-id': 74868, 'amount': 305},
  {'transaction-id': 75000, 'amount': 365},
  {'transaction-id': 76155, 'amount': 417},
  {'transaction-id': 76297, 'amount': 385},
  {'transaction-id': 76374, 'amount': 358},
  {'transaction-id': 76450, 'amount': 306},
  {'transaction-id': 76558, 'amount': 339},
  {'transaction-id': 76773, 'amount': 330},
  {'transaction-id': 77349, 'amount': 388},
  {'transaction-id': 80331, 'amount': 397},
  {'transaction-id': 80877, 'amount': 254},
  {'transaction-id': 81146, 'amount': 346},
  {'transaction-id': 82901, 'amount': 378},
  {'transaction-id': 84195, 'amount': 346},
  {'transaction-id': 85231, 'amount': 333},
  {'transaction-id': 87999, 'amount': 401},
  {'transaction-id': 89617, 'amount': 304},
  {'transaction-id': 90690, 'amount': 315},
  {'transaction-id': 91959, 'amount': 341},
  {'transaction-id': 94510, 'amount': 357},
  {'transaction-id': 95358, 'amount': 356},
  {'transaction-id': 95394, 'amount': 388},
  {'transaction-id': 95500, 'amount': 345},
  {'transaction-id': 96193, 'amount': 284},
  {'transaction-id': 96792, 'amount': 349},
  {'transaction-id': 97804, 'amount': 369},
  {'transaction-id': 99605, 'amount': 341}],
 [{'transaction-id': 189, 'amount': 2},
  {'transaction-id': 265, 'amount': 2},
  {'transaction-id': 687, 'amount': 2},
  {'transaction-id': 1081, 'amount': 2},
  {'transaction-id': 1245, 'amount': 2},
  {'transaction-id': 1801, 'amount': 1},
  {'transaction-id': 2277, 'amount': 2},
  {'transaction-id': 2633, 'amount': 2},
  {'transaction-id': 2940, 'amount': 1},
  {'transaction-id': 2958, 'amount': 1},
  {'transaction-id': 4031, 'amount': 2},
  {'transaction-id': 5110, 'amount': 2},
  {'transaction-id': 6682, 'amount': 2},
  {'transaction-id': 7200, 'amount': 2},
  {'transaction-id': 8031, 'amount': 2},
  {'transaction-id': 9143, 'amount': 1},
  {'transaction-id': 9246, 'amount': 2},
  {'transaction-id': 9958, 'amount': 2},
  {'transaction-id': 11941, 'amount': 2},
  {'transaction-id': 11947, 'amount': 3},
  {'transaction-id': 12550, 'amount': 2},
  {'transaction-id': 13109, 'amount': 2},
  {'transaction-id': 14099, 'amount': 3},
  {'transaction-id': 14703, 'amount': 2},
  {'transaction-id': 15253, 'amount': 3},
  {'transaction-id': 15294, 'amount': 2},
  {'transaction-id': 16512, 'amount': 2},
  {'transaction-id': 17030, 'amount': 2},
  {'transaction-id': 17195, 'amount': 2},
  {'transaction-id': 17486, 'amount': 2},
  {'transaction-id': 18449, 'amount': 1},
  {'transaction-id': 19296, 'amount': 2},
  {'transaction-id': 19823, 'amount': 2},
  {'transaction-id': 20058, 'amount': 2},
  {'transaction-id': 20255, 'amount': 2},
  {'transaction-id': 21283, 'amount': 2},
  {'transaction-id': 21294, 'amount': 2},
  {'transaction-id': 22569, 'amount': 2},
  {'transaction-id': 22791, 'amount': 2},
  {'transaction-id': 23123, 'amount': 2},
  {'transaction-id': 23531, 'amount': 2},
  {'transaction-id': 23620, 'amount': 2},
  {'transaction-id': 23633, 'amount': 2},
  {'transaction-id': 24368, 'amount': 2},
  {'transaction-id': 24572, 'amount': 2},
  {'transaction-id': 26132, 'amount': 2},
  {'transaction-id': 27569, 'amount': 3},
  {'transaction-id': 28548, 'amount': 1},
  {'transaction-id': 28630, 'amount': 2},
  {'transaction-id': 28766, 'amount': 2},
  {'transaction-id': 29944, 'amount': 2},
  {'transaction-id': 30239, 'amount': 2},
  {'transaction-id': 30269, 'amount': 1},
  {'transaction-id': 30756, 'amount': 2},
  {'transaction-id': 31367, 'amount': 2},
  {'transaction-id': 32936, 'amount': 2},
  {'transaction-id': 33449, 'amount': 1},
  {'transaction-id': 33490, 'amount': 1},
  {'transaction-id': 33626, 'amount': 2},
  {'transaction-id': 34148, 'amount': 2},
  {'transaction-id': 34683, 'amount': 2},
  {'transaction-id': 35056, 'amount': 2},
  {'transaction-id': 35489, 'amount': 2},
  {'transaction-id': 36240, 'amount': 2},
  {'transaction-id': 36446, 'amount': 2},
  {'transaction-id': 37131, 'amount': 2},
  {'transaction-id': 37422, 'amount': 2},
  {'transaction-id': 37786, 'amount': 2},
  {'transaction-id': 38467, 'amount': 2},
  {'transaction-id': 38969, 'amount': 2},
  {'transaction-id': 39484, 'amount': 2},
  {'transaction-id': 40001, 'amount': 2},
  {'transaction-id': 40034, 'amount': 2},
  {'transaction-id': 40600, 'amount': 2},
  {'transaction-id': 40661, 'amount': 2},
  {'transaction-id': 40794, 'amount': 2},
  {'transaction-id': 41040, 'amount': 2},
  {'transaction-id': 41447, 'amount': 2},
  {'transaction-id': 41683, 'amount': 2},
  {'transaction-id': 42819, 'amount': 3},
  {'transaction-id': 42911, 'amount': 2},
  {'transaction-id': 44344, 'amount': 2},
  {'transaction-id': 44510, 'amount': 3},
  {'transaction-id': 44618, 'amount': 2},
  {'transaction-id': 45621, 'amount': 1},
  {'transaction-id': 46642, 'amount': 1},
  {'transaction-id': 47895, 'amount': 3},
  {'transaction-id': 48198, 'amount': 2},
  {'transaction-id': 48804, 'amount': 2},
  {'transaction-id': 49116, 'amount': 2},
  {'transaction-id': 50055, 'amount': 2},
  {'transaction-id': 50587, 'amount': 1},
  {'transaction-id': 51086, 'amount': 2},
  {'transaction-id': 51784, 'amount': 3},
  {'transaction-id': 52008, 'amount': 2},
  {'transaction-id': 53666, 'amount': 2},
  {'transaction-id': 54053, 'amount': 2},
  {'transaction-id': 54702, 'amount': 3},
  {'transaction-id': 54806, 'amount': 2},
  {'transaction-id': 55922, 'amount': 2},
  {'transaction-id': 56258, 'amount': 2},
  {'transaction-id': 56711, 'amount': 2},
  {'transaction-id': 57071, 'amount': 2},
  {'transaction-id': 57759, 'amount': 2},
  {'transaction-id': 58143, 'amount': 2},
  {'transaction-id': 58871, 'amount': 2},
  {'transaction-id': 59009, 'amount': 1},
  {'transaction-id': 59134, 'amount': 2},
  {'transaction-id': 59435, 'amount': 2},
  {'transaction-id': 59654, 'amount': 1},
  {'transaction-id': 60145, 'amount': 2},
  {'transaction-id': 60296, 'amount': 2},
  {'transaction-id': 60986, 'amount': 2},
  {'transaction-id': 61132, 'amount': 2},
  {'transaction-id': 61674, 'amount': 2},
  {'transaction-id': 61730, 'amount': 2},
  {'transaction-id': 61970, 'amount': 2},
  {'transaction-id': 62341, 'amount': 2},
  {'transaction-id': 62729, 'amount': 2},
  {'transaction-id': 62845, 'amount': 2},
  {'transaction-id': 63559, 'amount': 2},
  {'transaction-id': 63713, 'amount': 2},
  {'transaction-id': 64030, 'amount': 2},
  {'transaction-id': 65056, 'amount': 2},
  {'transaction-id': 65179, 'amount': 2},
  {'transaction-id': 66527, 'amount': 2},
  {'transaction-id': 66853, 'amount': 2},
  {'transaction-id': 68720, 'amount': 2},
  {'transaction-id': 69740, 'amount': 2},
  {'transaction-id': 70373, 'amount': 2},
  {'transaction-id': 70865, 'amount': 2},
  {'transaction-id': 70910, 'amount': 1},
  {'transaction-id': 71960, 'amount': 2},
  {'transaction-id': 72028, 'amount': 2},
  {'transaction-id': 72143, 'amount': 2},
  {'transaction-id': 72561, 'amount': 2},
  {'transaction-id': 73294, 'amount': 2},
  {'transaction-id': 73632, 'amount': 3},
  {'transaction-id': 73852, 'amount': 3},
  {'transaction-id': 74026, 'amount': 2},
  {'transaction-id': 75563, 'amount': 2},
  {'transaction-id': 76502, 'amount': 1},
  {'transaction-id': 76855, 'amount': 2},
  {'transaction-id': 77145, 'amount': 2},
  {'transaction-id': 77497, 'amount': 3},
  {'transaction-id': 78906, 'amount': 2},
  {'transaction-id': 79769, 'amount': 2},
  {'transaction-id': 79842, 'amount': 3},
  {'transaction-id': 80842, 'amount': 1},
  {'transaction-id': 80902, 'amount': 2},
  {'transaction-id': 81693, 'amount': 2},
  {'transaction-id': 82289, 'amount': 3},
  {'transaction-id': 82434, 'amount': 2},
  {'transaction-id': 83178, 'amount': 2},
  {'transaction-id': 84847, 'amount': 2},
  {'transaction-id': 85171, 'amount': 1},
  {'transaction-id': 85258, 'amount': 2},
  {'transaction-id': 85777, 'amount': 2},
  {'transaction-id': 86180, 'amount': 1},
  {'transaction-id': 86217, 'amount': 2},
  {'transaction-id': 86415, 'amount': 3},
  {'transaction-id': 86448, 'amount': 3},
  {'transaction-id': 86530, 'amount': 2},
  {'transaction-id': 87216, 'amount': 2},
  {'transaction-id': 87485, 'amount': 2},
  {'transaction-id': 87619, 'amount': 3},
  {'transaction-id': 87764, 'amount': 2},
  {'transaction-id': 87922, 'amount': 2},
  {'transaction-id': 88108, 'amount': 2},
  {'transaction-id': 88358, 'amount': 2},
  {'transaction-id': 88608, 'amount': 2},
  {'transaction-id': 88749, 'amount': 2},
  {'transaction-id': 90138, 'amount': 2},
  {'transaction-id': 90320, 'amount': 2},
  {'transaction-id': 90871, 'amount': 1},
  {'transaction-id': 91152, 'amount': 2},
  {'transaction-id': 92438, 'amount': 1},
  {'transaction-id': 92676, 'amount': 2},
  {'transaction-id': 92920, 'amount': 2},
  {'transaction-id': 93605, 'amount': 2},
  {'transaction-id': 94315, 'amount': 2},
  {'transaction-id': 94906, 'amount': 2},
  {'transaction-id': 95213, 'amount': 3},
  {'transaction-id': 95220, 'amount': 2},
  {'transaction-id': 95671, 'amount': 2},
  {'transaction-id': 97088, 'amount': 2},
  {'transaction-id': 97208, 'amount': 2},
  {'transaction-id': 97868, 'amount': 2},
  {'transaction-id': 98577, 'amount': 2},
  {'transaction-id': 99173, 'amount': 2},
  {'transaction-id': 99189, 'amount': 2},
  {'transaction-id': 99702, 'amount': 2}],
 [{'transaction-id': 9102, 'amount': 735},
  {'transaction-id': 9622, 'amount': 609},
  {'transaction-id': 11508, 'amount': 603},
  {'transaction-id': 12358, 'amount': 564},
  {'transaction-id': 13024, 'amount': 605},
  {'transaction-id': 21721, 'amount': 565},
  {'transaction-id': 24451, 'amount': 652},
  {'transaction-id': 28254, 'amount': 500},
  {'transaction-id': 32793, 'amount': 562},
  {'transaction-id': 33265, 'amount': 420},
  {'transaction-id': 52107, 'amount': 586},
  {'transaction-id': 52873, 'amount': 631},
  {'transaction-id': 57528, 'amount': 546},
  {'transaction-id': 57767, 'amount': 582},
  {'transaction-id': 59504, 'amount': 625},
  {'transaction-id': 60585, 'amount': 498},
  {'transaction-id': 62086, 'amount': 674},
  {'transaction-id': 75461, 'amount': 729},
  {'transaction-id': 80427, 'amount': 555},
  {'transaction-id': 80549, 'amount': 482},
  {'transaction-id': 82174, 'amount': 521},
  {'transaction-id': 83904, 'amount': 710},
  {'transaction-id': 88212, 'amount': 442},
  {'transaction-id': 92210, 'amount': 468},
  {'transaction-id': 98613, 'amount': 556},
  {'transaction-id': 98825, 'amount': 546}])

In [15]:
(js.filter(lambda record: record['name'] == 'Alice')
   .pluck('transactions')
   .flatten()
   .take(3))

({'transaction-id': 2258, 'amount': 375},
 {'transaction-id': 4479, 'amount': 333},
 {'transaction-id': 7580, 'amount': 346})

In [16]:
(js.filter(lambda record: record['name'] == 'Alice')
   .pluck('transactions')
   .flatten()
   .pluck('amount')
   .take(3))

(375, 333, 346)

In [17]:
(js.filter(lambda record: record['name'] == 'Alice')
   .pluck('transactions')
   .flatten()
   .pluck('amount')
   .mean()
   .compute())

1325.172627229902

### Groupby and Foldby

Often we want to group data by some function or key.  We can do this either with the `.groupby` method, which is straightforward but forces a full shuffle of the data (expensive) or with the harder-to-use but faster `.foldby` method, which does a streaming combined groupby and reduction.

*  `groupby`:  Shuffles data so that all items with the same key are in the same key-value pair
*  `foldby`:  Walks through the data accumulating a result per key

*Note: the full groupby is particularly bad. In actual workloads you would do well to use `foldby` or switch to `DataFrame`s if possible.*

### `groupby`

Groupby collects items in your collection so that all items with the same value under some function are collected together into a key-value pair.

In [18]:
b.compute()

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [19]:
b = db.from_sequence(['Alice', 'Bob', 'Charlie', 'Dan', 'Edith', 'Frank'])
b.groupby(len).compute()  # names grouped by length

[(7, ['Charlie']), (3, ['Bob', 'Dan']), (5, ['Alice', 'Edith', 'Frank'])]

In [20]:
b = db.from_sequence(list(range(10)))
b.groupby(lambda x: x % 2).compute()

[(0, [0, 2, 4, 6, 8]), (1, [1, 3, 5, 7, 9])]

In [21]:
b.groupby(lambda x: x % 2).starmap(lambda k, v: (k, max(v))).compute()

[(0, 8), (1, 9)]

### `foldby`

Foldby can be quite odd at first.  It is similar to the following functions from other libraries:

*  [`toolz.reduceby`](http://toolz.readthedocs.io/en/latest/streaming-analytics.html#streaming-split-apply-combine)
*  [`pyspark.RDD.combineByKey`](http://abshinn.github.io/python/apache-spark/2014/10/11/using-combinebykey-in-apache-spark/)

When using `foldby` you provide 

1.  A key function on which to group elements
2.  A binary operator such as you would pass to `reduce` that you use to perform reduction per each group
3.  A combine binary operator that can combine the results of two `reduce` calls on different parts of your dataset.

Your reduction must be associative.  It will happen in parallel in each of the partitions of your dataset.  Then all of these intermediate results will be combined by the `combine` binary operator.

In [22]:
is_even = lambda x: x % 2
b.foldby(is_even, binop=max, combine=max).compute()

[(0, 8), (1, 9)]

### Example with account data

We find the number of people with the same name.

In [23]:
%%time
# Warning, this one takes a while...
result = js.groupby(lambda item: item['name']).starmap(lambda k, v: (k, len(v))).compute()
print(sorted(result))

[('Alice', 67), ('Alice', 67), ('Alice', 68), ('Alice', 68), ('Alice', 68), ('Alice', 68), ('Alice', 68), ('Alice', 69), ('Alice', 69), ('Alice', 69), ('Alice', 69), ('Alice', 69), ('Alice', 69), ('Alice', 69), ('Alice', 91), ('Alice', 91), ('Bob', 43), ('Bob', 44), ('Bob', 44), ('Bob', 44), ('Bob', 44), ('Bob', 45), ('Bob', 45), ('Bob', 45), ('Bob', 57), ('Bob', 60), ('Bob', 89), ('Bob', 89), ('Bob', 89), ('Charlie', 63), ('Charlie', 63), ('Charlie', 63), ('Charlie', 63), ('Charlie', 63), ('Charlie', 63), ('Charlie', 63), ('Charlie', 63), ('Charlie', 63), ('Charlie', 84), ('Charlie', 84), ('Charlie', 126), ('Charlie', 189), ('Dan', 63), ('Dan', 63), ('Dan', 63), ('Dan', 63), ('Dan', 63), ('Dan', 63), ('Dan', 63), ('Dan', 63), ('Dan', 63), ('Dan', 63), ('Dan', 63), ('Dan', 63), ('Dan', 63), ('Dan', 63), ('Dan', 84), ('Dan', 84), ('Edith', 59), ('Edith', 59), ('Edith', 60), ('Edith', 60), ('Edith', 60), ('Edith', 60), ('Edith', 60), ('Edith', 60), ('Edith', 60), ('Edith', 60), ('Edith', 60), ('Edith', 80), ('Edith', 120), ('Edith', 140), ('Frank', 40), ('Frank', 41), ('Frank', 42), ('Frank', 42), ('Frank', 42), ('Frank', 42), ('Frank', 42), ('Frank', 42), ('Frank', 42), ('Frank', 42), ('Frank', 42), ('Frank', 42), ('Frank', 42), ('Frank', 56), ('Frank', 98), ('George', 54), ('George', 54), ('George', 54), ('George', 54), ('George', 54), ('George', 54), ('George', 54), ('George', 72), ('George', 108), ('George', 108), ('George', 108), ('George', 126), ('Hannah', 63), ('Hannah', 63), ('Hannah', 63), ('Hannah', 63), ('Hannah', 63), ('Hannah', 63), ('Hannah', 63), ('Hannah', 64), ('Hannah', 84), ('Hannah', 84), ('Hannah', 126), ('Hannah', 126), ('Hannah', 127), ('Ingrid', 42), ('Ingrid', 42), ('Ingrid', 42), ('Ingrid', 42), ('Ingrid', 42), ('Ingrid', 42), ('Ingrid', 42), ('Ingrid', 42), ('Ingrid', 42), ('Ingrid', 42), ('Ingrid', 42), ('Ingrid', 56), ('Ingrid', 84), ('Ingrid', 98), ('Jerry', 83), ('Jerry', 83), ('Jerry', 83), ('Jerry', 83), ('Jerry', 84), ('Jerry', 84), ('Jerry', 84), ('Jerry', 84), ('Jerry', 84), ('Jerry', 111), ('Jerry', 112), ('Jerry', 168), ('Jerry', 251), ('Kevin', 75), ('Kevin', 75), ('Kevin', 75), ('Kevin', 75), ('Kevin', 75), ('Kevin', 75), ('Kevin', 75), ('Kevin', 75), ('Kevin', 75), ('Kevin', 75), ('Kevin', 100), ('Kevin', 100), ('Kevin', 150), ('Kevin', 150), ('Laura', 65), ('Laura', 65), ('Laura', 65), ('Laura', 66), ('Laura', 66), ('Laura', 66), ('Laura', 66), ('Laura', 66), ('Laura', 66), ('Laura', 66), ('Laura', 66), ('Laura', 87), ('Laura', 131), ('Laura', 152), ('Michael', 51), ('Michael', 51), ('Michael', 51), ('Michael', 51), ('Michael', 51), ('Michael', 51), ('Michael', 51), ('Michael', 51), ('Michael', 51), ('Michael', 51), ('Michael', 51), ('Michael', 68), ('Michael', 102), ('Michael', 119), ('Norbert', 75), ('Norbert', 75), ('Norbert', 75), ('Norbert', 75), ('Norbert', 75), ('Norbert', 75), ('Norbert', 75), ('Norbert', 75), ('Norbert', 75), ('Norbert', 75), ('Norbert', 75), ('Norbert', 100), ('Norbert', 150), ('Norbert', 175), ('Oliver', 21), ('Oliver', 21), ('Oliver', 21), ('Oliver', 21), ('Oliver', 21), ('Oliver', 21), ('Oliver', 21), ('Oliver', 21), ('Oliver', 21), ('Oliver', 21), ('Oliver', 21), ('Oliver', 21), ('Oliver', 21), ('Oliver', 21), ('Oliver', 28), ('Oliver', 28), ('Patricia', 78), ('Patricia', 78), ('Patricia', 78), ('Patricia', 78), ('Patricia', 78), ('Patricia', 78), ('Patricia', 78), ('Patricia', 78), ('Patricia', 78), ('Patricia', 78), ('Patricia', 78), ('Patricia', 78), ('Patricia', 104), ('Patricia', 104), ('Patricia', 156), ('Quinn', 48), ('Quinn', 48), ('Quinn', 48), ('Quinn', 48), ('Quinn', 48), ('Quinn', 48), ('Quinn', 48), ('Quinn', 48), ('Quinn', 48), ('Quinn', 48), ('Quinn', 48), ('Quinn', 48), ('Quinn', 96), ('Quinn', 128), ('Ray', 78), ('Ray', 78), ('Ray', 78), ('Ray', 78), ('Ray', 78), ('Ray', 78), ('Ray', 78), ('Ray', 78), ('Ray', 78), ('Ray', 78), ('Ray', 104), ('Ray', 104), ('Ray', 156), ('Ray', 156), ('Sarah', 36), ('Sarah', 36), ('Sarah', 36), ('Sarah', 36), ('Sarah', 36), ('Sarah', 36), ('Sarah', 36), ('Sarah', 36), ('Sarah', 36), ('Sarah', 36), ('Sarah', 36), ('Sarah', 36), ('Sarah', 48), ('Sarah', 48), ('Sarah', 72), ('Tim', 45), ('Tim', 45), ('Tim', 45), ('Tim', 45), ('Tim', 45), ('Tim', 45), ('Tim', 45), ('Tim', 45), ('Tim', 45), ('Tim', 45), ('Tim', 45), ('Tim', 45), ('Tim', 60), ('Tim', 60), ('Tim', 90), ('Ursula', 47), ('Ursula', 48), ('Ursula', 48), ('Ursula', 48), ('Ursula', 48), ('Ursula', 48), ('Ursula', 48), ('Ursula', 48), ('Ursula', 48), ('Ursula', 48), ('Ursula', 64), ('Ursula', 64), ('Ursula', 95), ('Ursula', 95), ('Victor', 50), ('Victor', 51), ('Victor', 51), ('Victor', 51), ('Victor', 51), ('Victor', 51), ('Victor', 51), ('Victor', 51), ('Victor', 51), ('Victor', 51), ('Victor', 51), ('Victor', 68), ('Victor', 102), ('Victor', 119), ('Wendy', 66), ('Wendy', 67), ('Wendy', 67), ('Wendy', 67), ('Wendy', 67), ('Wendy', 67), ('Wendy', 67), ('Wendy', 67), ('Wendy', 67), ('Wendy', 67), ('Wendy', 68), ('Wendy', 68), ('Wendy', 68), ('Wendy', 90), ('Wendy', 158), ('Xavier', 51), ('Xavier', 51), ('Xavier', 51), ('Xavier', 51), ('Xavier', 51), ('Xavier', 51), ('Xavier', 51), ('Xavier', 51), ('Xavier', 51), ('Xavier', 51), ('Xavier', 51), ('Xavier', 51), ('Xavier', 68), ('Xavier', 170), ('Yvonne', 81), ('Yvonne', 81), ('Yvonne', 81), ('Yvonne', 81), ('Yvonne', 81), ('Yvonne', 81), ('Yvonne', 81), ('Yvonne', 81), ('Yvonne', 81), ('Yvonne', 81), ('Yvonne', 81), ('Yvonne', 81), ('Yvonne', 108), ('Yvonne', 108), ('Yvonne', 162), ('Zelda', 36), ('Zelda', 36), ('Zelda', 36), ('Zelda', 36), ('Zelda', 36), ('Zelda', 36), ('Zelda', 36), ('Zelda', 36), ('Zelda', 36), ('Zelda', 36), ('Zelda', 48), ('Zelda', 84), ('Zelda', 108)]
CPU times: user 2.08 s, sys: 170 ms, total: 2.25 s
Wall time: 6.04 s

In [24]:
%%time
# This one is comparatively fast and produces the same result.
from operator import add
def incr(tot, _):
    return tot+1

result = js.foldby(key='name', 
                   binop=incr, 
                   initial=0, 
                   combine=add, 
                   combine_initial=0).compute()
print(sorted(result))

[('Alice', 1139), ('Bob', 738), ('Charlie', 1050), ('Dan', 1050), ('Edith', 998), ('Frank', 697), ('George', 900), ('Hannah', 1052), ('Ingrid', 700), ('Jerry', 1394), ('Kevin', 1250), ('Laura', 1093), ('Michael', 850), ('Norbert', 1250), ('Oliver', 350), ('Patricia', 1300), ('Quinn', 800), ('Ray', 1300), ('Sarah', 600), ('Tim', 750), ('Ursula', 797), ('Victor', 849), ('Wendy', 1121), ('Xavier', 850), ('Yvonne', 1350), ('Zelda', 600)]
CPU times: user 415 ms, sys: 18.2 ms, total: 433 ms
Wall time: 1.24 s

### Exercise: compute total amount per name

We want to groupby (or foldby) the `name` key, then add up the all of the amounts for each name.

Steps

1.  Create a small function that, given a dictionary like 

        {'name': 'Alice', 'transactions': [{'amount': 1, 'id': 123}, {'amount': 2, 'id': 456}]}
        
    produces the sum of the amounts, e.g. `3`
    
2.  Slightly change the binary operator of the `foldby` example above so that the binary operator doesn't count the number of entries, but instead accumulates the sum of the amounts.

In [25]:
# Your code here...
def amount(d):
    res = 0
    for transaction in d['transactions']:
        res += transaction['amount']
    return res

def accamount(tot, d):
    return tot + amount(d) 

result = js.foldby(key='name',
                   binop=accamount,
                   initial=0,
                   combine=add,
                   combine_initial=0).compute()

print(result)

[('Ursula', 64758026), ('George', 132139286), ('Laura', 117422419), ('Jerry', 149452018), ('Michael', 69998074), ('Edith', 63703504), ('Hannah', 279339714), ('Kevin', 306568933), ('Wendy', 780495069), ('Alice', 343193207), ('Patricia', 262001639), ('Charlie', 347978995), ('Yvonne', 193415648), ('Quinn', -22731857), ('Frank', 87119617), ('Norbert', 322186120), ('Tim', 93067232), ('Ray', 350651180), ('Sarah', 41923638), ('Dan', 284003968), ('Victor', 161042144), ('Zelda', 24810752), ('Ingrid', 103545470), ('Xavier', 45116125), ('Bob', 231100769), ('Oliver', 214457023)]

## DataFrames

For the same reasons that Pandas is often faster than pure Python, `dask.dataframe` can be faster than `dask.bag`.  We will work more with DataFrames later, but from for the bag point of view, they are frequently the end-point of the "messy" part of data ingestiononce the data can be made into a data-frame, then complex split-apply-combine logic will become much more straight-forward and efficient.

You can transform a bag with a simple tuple or flat dictionary structure into a `dask.dataframe` with the `to_dataframe` method.

In [26]:
df1 = js.to_dataframe()
df1.head()

   id    name                                       transactions
0   0  Ursula  [{'transaction-id': 24228, 'amount': 3706}, {'...
1   1  George  [{'transaction-id': 833, 'amount': 13}, {'tran...
2   2   Laura  [{'transaction-id': 694, 'amount': 3980}, {'tr...
3   3   Jerry  [{'transaction-id': 547, 'amount': 2687}, {'tr...
4   4   Jerry  [{'transaction-id': 193, 'amount': 302}, {'tra...

This now looks like a well-defined DataFrame, and we can apply Pandas-like computations to it efficiently.

Using a Dask DataFrame, how long does it take to do our prior computation of numbers of people with the same name?  It turns out that `dask.dataframe.groupby()` beats `dask.bag.groupby()` more than an order of magnitude; but it still cannot match `dask.bag.foldby()` for this case.

In [27]:
%time df1.groupby('name').id.count().compute().head()

CPU times: user 508 ms, sys: 45 ms, total: 553 ms
Wall time: 2.72 s

name
Alice      1139
Bob         738
Charlie    1050
Dan        1050
Edith       998
Name: id, dtype: int64

### Denormalization

This DataFrame format is less-than-optimal because the `transactions` column is filled with nested data so Pandas has to revert to `object` dtype, which is quite slow in Pandas.  Ideally we want to transform to a dataframe only after we have flattened our data so that each record is a single `int`, `string`, `float`, etc..

In [28]:
def denormalize(record):
    # returns a list for every nested item, each transaction of each person
    return [{'id': record['id'], 
             'name': record['name'], 
             'amount': transaction['amount'], 
             'transaction-id': transaction['transaction-id']}
            for transaction in record['transactions']]

transactions = js.map(denormalize).flatten()
transactions.take(3)

({'id': 0, 'name': 'Ursula', 'amount': 3706, 'transaction-id': 24228},
 {'id': 0, 'name': 'Ursula', 'amount': 3570, 'transaction-id': 54092},
 {'id': 0, 'name': 'Ursula', 'amount': 3215, 'transaction-id': 89854})

In [29]:
df = transactions.to_dataframe()
df.head()

   id    name  amount  transaction-id
0   0  Ursula    3706           24228
1   0  Ursula    3570           54092
2   0  Ursula    3215           89854
3   0  Ursula    3110           90233
4   1  George      13             833

In [30]:
%%time
# number of transactions per name
# note that the time here includes the data load and ingestion
df.groupby('name')['transaction-id'].count().compute()

CPU times: user 505 ms, sys: 60.7 ms, total: 565 ms
Wall time: 2.84 s

name
Alice       258980
Bob         119502
Charlie     198522
Dan         250397
Edith       121730
Frank       117646
George      265935
Hannah      216316
Ingrid      158437
Jerry       247114
Kevin       242010
Laura       156727
Michael     223392
Norbert     274801
Oliver       69666
Patricia    188454
Quinn       225341
Ray         342118
Sarah       173412
Tim         117519
Ursula      130377
Victor      127055
Wendy       352196
Xavier       98753
Yvonne      235779
Zelda        87821
Name: transaction-id, dtype: int64

## Limitations

Bags provide very general computation (any Python function.)  This generality
comes at cost.  Bags have the following known limitations

1.  Bag operations tend to be slower than array/dataframe computations in the
    same way that Python tends to be slower than NumPy/Pandas
2.  ``Bag.groupby`` is slow.  You should try to use ``Bag.foldby`` if possible.
    Using ``Bag.foldby`` requires more thought. Even better, consider creating
    a normalised dataframe.

## Learn More

* [Bag documentation](https://docs.dask.org/en/latest/bag.html)
* [Bag screencast](https://youtu.be/-qIiJ1XtSv0)
* [Bag API](https://docs.dask.org/en/latest/bag-api.html)
* [Bag examples](https://examples.dask.org/bag.html)

## Shutdown

In [31]:
client.shutdown()

distributed.client - ERROR - Failed to reconnect to scheduler after 10.00 seconds, closing client
_GatheringFuture exception was never retrieved
future: <_GatheringFuture finished exception=CancelledError()>
concurrent.futures._base.CancelledError